/*-----------------------------------------
    COPYRIGHT
-----------------------------------------*/
section.copyright {
	background-color: var(--PrimaryThree);
	padding: 1em 100px;
	color: var(--White-Copy);
	position: relative;

	@media (--1024vp) {
		padding: 1em 2em;
	}

	@media (--768vp) {
		text-align: center;
	}

	&>div {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;

		& p {
			font-size: 14px;
			font-weight: 300;

			@media (--768vp) {
				margin-top: 2em;
			}

			& a {
				color: var(--White);
				text-decoration: none;

				&:hover,
				&:focus {
					text-decoration: underline;
				}
			}
		}
	}
}

/*-----------------------------------------
		ELEMENT5 CREDIT LINK
		the svg is controlled by element5
-----------------------------------------*/
#element5-credit {
	overflow: hidden;
	position: absolute;
	top: calc(50% - 25px);
	right: 0;

	@media (--768vp) {
		top: -1em;
	}

	& img {
		transform: translateX(100%);
		transition: all .5s ease-in-out;

		&.visible {
			transform: translateX(0);
		}
	}
}