/*-----------------------------------------
    FOOTER
-----------------------------------------*/
footer {
	background-color: var(--PrimaryThree);
	padding: 40px 100px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;

	@media (--1024vp) {
		padding: 40px 2em;
	}

	&>div {
		width: 50%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		@media (--1200vp) {
			width: 80%;
		}

		@media (--768vp) {
			width: 100%;
			margin-bottom: 2em;
		}

		& ul {
			list-style: none;
			padding-left: 0;
			margin: 0;
			width: 30%;

			@media (--768vp) {
				width: 50%;
			}

			& li {
				margin-bottom: .5em;

				& a {
					color: var(--White);
					text-decoration: none;

					&:hover,
					&:focus {
						text-decoration: underline;
					}
				}
			}
		}
	}

	& nav.social-nav {
		display: flex;
		justify-content: flex-end;
		width: 50%;
		align-items: center;

		@media (--1200vp) {
			width: 20%;
		}

		@media (--768vp) {
			width: 100%;
			justify-content: center;
		}

		& a {
			padding: 0 1em;
		}
	}
}