/*-----------------------------------*\
	CALLOUT
\*-----------------------------------*/
section.callout {
	position: relative;
	overflow: hidden;

	& > div {
		width: 90%;
		max-width: 640px;
		margin: 6rem auto;
		text-align: center;
		padding-bottom: 6em;
		position: relative;

		&::before {
			content: "";
			background-image: url('../images/flowers.svg');
			background-repeat: no-repeat;
			background-size: contain;
			background-position: top right;
			width: 300px;
			height: 424px;
			position: absolute;
			left: -20%;
			top: -14%;
			z-index: -1;
		}

		&::after {
			content: "";
			background-image: url('../images/flowers.svg');
			background-repeat: no-repeat;
			background-size: contain;
			background-position: top right;
			width: 250px;
			height: 353px;
			position: absolute;
			right: -20%;
			top: -10%;
			z-index: -1;
			transform: rotate(180deg);
		}

		& > div {
			background-color: var(--PrimaryOne);
			color: var(--White);
			padding: 3em;
			text-align: left;

			& > *:first-child {
				margin-top: 0;
			}

			& > *:last-child {
				margin-bottom: 0;
			}

			& p {
				font-size: 20px;
			}
		}

		& h2, h3, h4 {
			color: var(--White);
		}

		& > p {
			font-size: 14px;
			line-height: 1.5;
			text-align: left;
		}

		& a.button {
			background: var(--PrimaryTwo);
		}
	}
}