/*-----------------------------------*\
	SECTION SIZES
\*-----------------------------------*/
.standard {
	width: 90%;
	max-width: 960px;
	margin: 4rem auto;
}

.is-narrow {
	width: 90%;
	max-width: 640px;
	margin: 4rem auto;
}

.is-wide {
	width: 90%;
	max-width: 1024px;
	margin: 4rem auto;
}

.is-extra-wide {
	width: 90%;
	max-width: 1200px;
	margin: 4rem auto;
}

.is-full-width {
	width: 100%;
	max-width: 100%;
	margin: 4rem auto;
}

/*-----------------------------------*\
	DEFAULT WP CLASSES
\*-----------------------------------*/
.alignright {
	text-align: right;
}

.alignleft {
	text-align: left;
}

.aligncenter {
	text-align: center;
}

img.alignright {
	display: block;
	float: right;
}

img.alignleft {
	display: block;
	float: left;
}

img.aligncenter {
	display: block;
	margin: 1em auto;
}

/*-----------------------------------*\
	2 COLUMNS
\*-----------------------------------*/
.editor-2-column {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;

  & > div {
    width: 45%;

    & > *:first-child {
      margin-top: 0;
    }
  }

  @media(--768vp) {
    display: block;

    & > div {
			width: 100%;
    }
  }
}

/*-----------------------------------*\
	3 COLUMNS
\*-----------------------------------*/
.editor-3-column {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;

  & > div {
    width: 31%;

    & > *:first-child {
      margin-top: 0;
    }
  }

  @media(--768vp) {
    display: block;

    & > div {
      width: 100%;
    }
  }
}
