/*-----------------------------------*\
	IMAGE + MEDIA
\*-----------------------------------*/
.media-text {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;

  &.image-cover {
    & img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

	& + section {
    margin-top: 0;
	}

  & > div {
    width: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    & > *:first-child {
      margin-top: 0;
    }

		&:last-child {
			padding: 2em;
		}

    & img {
      display: block;
      width: 100%;
      max-width: 100%;
      height: auto;
      margin: 0 auto;
    }

		& h2, h3, h4, h5, h6 {
			color: var(--PrimaryOne);
		}

		& ul {
			list-style: none;
			margin: 0;

			& li {
				padding-left: 2em;
				position: relative;

				&::before {
					content: "";
					width: 14px;
					height: 14px;
					background-color: var(--PrimaryTwo);
					border-radius: 50%;
					position: absolute;
					left: 0;
					top: 7px;
					bottom: 0;

					@media(--1024vp) {
						width: 8px;
						height: 8px;
						top: 12px;
					}
				}
			}
		}
  }

  @media(--768vp) {
    flex-wrap: wrap;

    & > div {
      width: 100%;
    }
  }
}

/*-----------------------------------*\
	IMAGE ALIGNMENT
\*-----------------------------------*/
.media-text {
	&.has-image-on-right {
		& > div:first-child {
			order: 2;
		}

		& > div:last-child {
			order: 1;
		}
	}

  @media(--768vp) {
    &.has-image-on-right {
      & > div:first-child {
        order: 1;
      }

      & > div:last-child {
        order: 2;
      }
    }
  }
}
