/*-----------------------------------------
    PRIMARY NAVIGATION
-----------------------------------------*/

.primary-nav-container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: var(--White);
	height: 80px;
	position: fixed;
	top: 0;
	z-index: 99999;
	width: 100%;
	box-shadow: 0px 3px 5px 0px color(var(--Black) alpha(20%));
}

a.brand {
	text-decoration: none;
	width: 17%;
	text-align: center;
	padding: 25px 0;

	@media(--1200vp) {
		width: 70%;
	}
}

a.header-phone {
	width: 6%;
	max-width: 245px;
	@add-mixin Flex;
	color: var(--PrimaryOne);
	text-decoration: none;
	@add-mixin Flex;
	background-color: var(--NeutralOne);
	min-height: 100%;
	align-items: center;
	justify-content: center;
	padding: 25px 0;

	@media(--1200vp) {
		width: 15%;
		max-width: none;
		background-color: transparent;
	}

	svg {
		position: relative;
	}

	.tooltip {
		visibility: hidden;
		width: auto;
		background-color: var(--PrimaryOne);
		color: var(--White);
		text-align: center;
		padding: 1vh 1vw;
		border-radius: 6px;
		position: absolute;
		z-index: 100;
		top: 60px;
		left: 60px;
	}

	&:hover .tooltip {
		visibility: visible;
	}
}

a.nav-primary {
	width: 15%;
	min-height: 100%;
	max-width: 245px;
	background-color: var(--PrimaryOne);
	color: var(--White-Copy);
	text-align: center;
	@add-mixin Flex;
	padding: 25px 10px;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	transition: all linear 150ms;
	text-transform: uppercase;
	letter-spacing: .069em;

	@media(--1200vp) {
		display: none;
	}

	&:hover {
		background-color: color(var(--PrimaryOne) shade(10%));
		transition: all linear 150ms;
	}
}

nav.nav-primary {
	width: 56%;
	min-height: 100%;
	text-align: center;
	@add-mixin Flex;
	padding: 25px 0;
	align-items: center;
	justify-content: flex-end;
	text-decoration: none;
	transition: all linear 150ms;
	text-transform: uppercase;
	letter-spacing: .069em;

	@media(--1200vp) {
		display: none;
	}

	&.nav-dropdown {
		width: 100%;
		position: fixed;
		top: 0;
		z-index: 1001;
		background: rgba(255, 255, 255, 0.95);
		padding: 8vh 0;
		display: none;

		#menu-mobile-menu {
			list-style-type: none;
			padding: 0;
			margin: 0;
			width: 100%;

			.menu-item {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				padding: 2vh 2vw;

				a {
					font-size: 16px;
					color: var(--PrimaryOne);
					text-decoration: none;
				}
			}
		}
	}

	#menu-primary-nav {
		list-style-type: none;
		padding: 0;
		margin: 0;

		.menu-item {
			display: inline-flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			align-items: center;
			padding: 0 1em;

			@media(--1500vp) {
				padding: 0 .5em;
			}

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 2em;

				@media(--1500vp) {
					padding-right: 1em;
				}
			}

			&.active a {
				opacity: 1;
				font-weight: 600;
				border-bottom: 2px solid var(--PrimaryOne);
				line-height: 1.7;
			}

			a {
				font-size: 14px;
				color: var(--PrimaryOne);
				text-decoration: none;
				opacity: 0.6;
			}
		}
	}
}

.home {
	nav.nav-primary {
		#menu-primary-nav {
			.menu-item {
				a {
					opacity: 1;
				}
			}
		}
	}
}

.reserve-my-space {
	nav.nav-primary {
		#menu-primary-nav {
			.menu-item {
				a {
					opacity: 1;
				}
			}
		}
	}
}

a.header-search {
	width: 6%;
	max-width: 245px;
	@add-mixin Flex;
	color: var(--PrimaryOne);
	text-decoration: none;
	@add-mixin Flex;
	min-height: 100%;
	align-items: center;
	justify-content: center;
	padding: 25px 0;

	@media(--1200vp) {
		display: none;
	}

	svg {
		position: relative;

		&.close-icon {
			display: none;
		}
	}
}

.main-nav-button.menu-button {
	display: none;

	@media(--1200vp) {
		width: 15%;
		display: flex;
		justify-content: center;
	}
}

.menu-button {
	display: none;

	@media(--1200vp) {
		display: block;
	}
}

.close {
	position: fixed;
	top: 0;
	right: 0;
	padding: 3vh 3vw;
}

/*-----------------------------------------
    LANDING PAGE NAVIGATION
-----------------------------------------*/

.page-template-template-landing-page {
	.primary-nav-container {
		justify-content: space-between;

		@media(--768vp) {
			padding: 0;
			justify-content: flex-start;
			background-image: url('../images/mobile-header-bg.svg');
			background-repeat: no-repeat;
			background-position: bottom right;
			background-size: auto 100%;
		}
	}

	a.header-phone {
		width: 20%;
		max-width: 245px;

		@media(--768vp) {
			width: 25%;
			background-color: transparent;

			span {
				display: none;
			}
		}

		svg {
			margin-right: 20px;
		}
	}

	a.brand {
		width: 60%;

		@media(--768vp) {
			width: 50%;
		}
	}

	a.nav-primary {
		width: 20%;

		@media(--1200vp) {
			display: flex;
		}

		@media(--768vp) {
			display: none;
		}
	}
}