.secondary-nav {
	padding: 12vh 0 6vh;
	@add-mixin Flex;
	justify-content: center;
	align-items: baseline;

	@media(--1024vp) {
		padding: 7vh 0 6vh;
	}

	p {
		margin: 0;
		font-size: 32px;
		font-weight: 600;
		font-family: var(--HeadCopy);
		color: var(--PrimaryOne);
		padding-right: 1vw;
	}

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		display: inline-flex;
		flex-wrap: wrap;
		justify-content: center;

		@media(--1024vp) {
			display: none;
		}

		&.cat-nav {
			li {
				margin: 0;
				opacity: 1;

				&:hover,
				&:focus {
					opacity: 1;
				}

				&.active {
					opacity: 1;

					a {
						opacity: 1;
						font-weight: 600;
					}
				}

				a {
					margin: 0 20px;
					color: var(--PrimaryOne);
					opacity: 0.5;
					font-size: 18px;
					text-transform: uppercase;
					letter-spacing: 2px;
					text-decoration: none;

					&:hover,
					&:focus {
						opacity: 1;
					}
				}
			}
		}

		li {
			margin: 0 20px;
			color: var(--PrimaryOne);
			opacity: 0.5;
			font-size: 18px;
			text-transform: uppercase;
			letter-spacing: 2px;
			text-decoration: none;

			&:hover,
			&:focus {
				opacity: 1;
				cursor: pointer;
			}

			&.active {
				opacity: 1;
				font-weight: 600;
				border-bottom: 2px solid var(--PrimaryOne);
				line-height: 1.7;
			}

			a {
				color: var(--PrimaryOne);
				font-size: 18px;
				text-transform: uppercase;
				text-decoration: none;
			}
		}
	}

	.select-wrap {
		display: none;

		@media(--1024vp) {
			display: inline-block;
			padding: 1vh 1vw;
			width: 45vw;
		}

		select {
			display: none;

			@media(--1024vp) {
				display: inline-block;
				font-size: 18px;
				background: var(--White);
				color: var(--PrimaryOne);
				border: none;
				width: 43vw;
				border-bottom: 2px solid var(--PrimaryOne);
			}

			&.is-activated {
				border-color: var(--PrimaryOne);
			}
		}
	}
}