/*-----------------------------------------
   DEFAULT BLOG CSS
-----------------------------------------*/

.blog,
.archive {
	h3 {
		color: var(--PrimaryOne);
		text-align: center;
		margin: 40px 0;
	}

	.default-contents {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		width: 100%;
		position: relative;
		overflow: hidden;

		&::before {
			content: "";
			background-image: url('../images/flower.svg');
			background-repeat: no-repeat;
			background-size: contain;
			background-position: bottom left;
			width: 30%;
			min-height: 75%;
			position: absolute;
			left: -55px;
			bottom: -200px;
			z-index: -1;

			@media(--1024vp) {
				bottom: -80px;
			}

			@media(--768vp) {
				left: -20px;
			}

			@media(--515vp) {
				bottom: -20px;
				left: -10px;
			}
		}

		& img,
		& svg {
			max-width: 100%;
			height: auto;
		}

		.post-feed {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			width: 90vw;
			padding-bottom: 300px;
			width: calc(100% + 2vw);
			margin: 0 4vw;

			@media(--1024vp) {
				padding-bottom: 200px;
			}

			@media(--768vp) {
				padding-bottom: 150px;
			}

			@media(--515vp) {
				padding-bottom: 100px;
			}

			article {
				margin: 1vw;
				width: calc(33.33% - 2vw);
				display: flex;

				flex-direction: column;

				@media(--1024vp) {
					width: calc(50% - 2vw);
				}

				@media(--768vp) {
					width: calc(100% - 2vw);
				}

				.background-image {
					height: 320px;
					background-position: center;
					background-repeat: no-repeat;
					background-size: cover;
					transition: all .5s linear;
				}

				.post-head {
					position: relative;
					overflow: hidden;

					&:hover .background-image {
						-webkit-transform: scale(1.1);
						transform: scale(1.1);
					}
				}

				.category-contain {
					width: 50%;
					height: 40px;
					position: absolute;
					bottom: 25px;
					padding: 0 1vw;
					@add-mixin Flex;
					justify-content: flex-end;
					align-items: center;
					background: var(--PrimaryOne);

					p {
						font-size: 16px;
						font-weight: 600;
						text-align: right;
						text-transform: uppercase;
						margin: 0;
						letter-spacing: 2px;
						color: var(--White);
					}
				}

				.post-body {
					padding: 20px;
					position: relative;
					padding-bottom: 64px;
					margin-bottom: 50px;
					flex-grow: 1;

					.post-tags {
						color: var(--PrimaryTwo);
						margin: 0;

						a {
							color: var(--PrimaryTwo);
							font-size: 16px;
							line-height: 28px;
							text-transform: uppercase;
							letter-spacing: 1px;
							text-decoration: none;
						}
					}

					a {
						text-decoration: none;

						h2 {
							color: var(--PrimaryOne);
							font-size: 22px;
							font-family: var(--HeadCopy);
							font-weight: 900;
							line-height: 28px;
							margin: 10px 0;
						}

						p {
							color: var(--Black);
							font-family: var(--BodyCopy);
							font-size: 16px;
							font-weight: 300;
							line-height: 28px;
							min-height: 84px;
						}
					}

					.button {
						background: transparent;
						color: var(--PrimaryOne);
						border: 3px solid var(--PrimaryOne);
						padding: 20px 50px;
						margin: 0;
						position: absolute;
						bottom: 0;

						&:hover,
						&:focus,
						&.is-hover {
							background: var(--PrimaryOne);
							color: var(--White);
						}
					}
				}
			}
		}

		.load-more {
			position: absolute;
			bottom: 140px;
			background: transparent;
			color: var(--PrimaryOne);
			font-size: 32px;
			font-weight: 900;
			line-height: 40px;
			text-transform: none;
			font-family: var(--BodyCopy);

			@media(--1024vp) {
				bottom: 80px;
			}

			@media(--515vp) {
				bottom: 40px;
			}

			&:hover,
			&:focus {
				text-decoration: underline;
			}
		}
	}

	.pagination,
	.posts-navigation {
		display: none;
	}
}