/*-----------------------------------------
   SINGLE BLOG CSS
-----------------------------------------*/

.single-post {
	.main-header-section {
		padding: 18vh 25px 20vh;
	}
	.post-categories {
		li {
			list-style-type: none;
			a {
				color: var(--White);
				font-family: var(--AltCopyLight);
				font-style: italic;
				font-size: 20px;
				letter-spacing: .44px;
				text-decoration: none;
			}
		}
	}
	.entry-content {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 100%;
		position: relative;
		overflow: hidden;
		.main-block {
			width: 67vw;
			max-width: 960px;
			margin: 4vh 0;
			justify-content: center;
			@media(--768vp) {
				width: 90vw;
			}
			h1 {
				color: var(--PrimaryOne);
				width: 100%;
				margin: 10px 0;
			}
			h2 {
				color: var(--PrimaryOne);
				width: 100%;
				margin: 10px 0;
			}
			h3 {
				color: var(--PrimaryOne);
				width: 100%;
				margin: 10px 0;
			}
			h4 {
				color: var(--PrimaryOne);
				width: 100%;
				margin: 10px 0;
			}
			h5 {
				color: var(--PrimaryOne);
				width: 100%;
				margin: 10px 0;
			}
			h6 {
				color: var(--PrimaryOne);
				width: 100%;
				margin: 10px 0;
			}
			.post-tags {
				color: var(--PrimaryTwo);
				margin: 0;
				width: 100%;
				a {
					color: var(--PrimaryTwo);
					font-size: 16px;
					line-height: 28px;
					text-transform: uppercase;
					letter-spacing: 1px;
					text-decoration: none;
				}
			}
			p {
				color: var(--Black-Copy);
				font-family: var(--BodyCopy);
				font-size: 20px;
				font-weight: 300;
				line-height: 32px;
				margin: 10px 0;
				width: 100%;
				&:first-of-type {
					color: var(--PrimaryOne);
					font-size: 32px;
					line-height: 1.4;
					@media(--1024vp) {
						font-size: 24px;
					}
				}
			}
			ol,
			ul {
				padding-left: 22px;
				width: 100%;
			}
			li {
				color: var(--Black-Copy);
				font-family: var(--BodyCopy);
				font-size: 20px;
				font-weight: 300;
				line-height: 32px;
			}
			.comment-notes {
				display: none;
			}
		}
		.background-image {
			background-image: url(../images/flowers.svg);
			min-width: 270px;
			min-height: 400px;
			background-repeat: no-repeat;
			position: absolute;
			z-index: 0;
			top: 0;
			left: 0;
			-webkit-transform: rotate(180deg);
			transform: rotate(180deg);
			display: none;
			@media(--768vp) {
				display: none;
			}
		}
		.background-image-2 {
			background-image: url(../images/flowers.svg);
			min-width: 340px;
			min-height: 600px;
			background-repeat: no-repeat;
			position: absolute;
			z-index: 0;
			top: 0;
			right: -80px;
			@media(--768vp) {
				display: none;
			}
		}
		.background-image-3 {
			background-image: url(../images/flower.svg);
			min-width: 400px;
			min-height: 240px;
			background-repeat: no-repeat;
			position: absolute;
			z-index: 0;
			bottom: 0;
			left: -50px;
		}
	}
}

/*-----------------------------------------
   COMMENT CSS
-----------------------------------------*/

.comment-reply-title {
	text-align: center;
	color: var(--PrimaryOne);
	font-family: var(--BodyCopy);
	font-size: 32px;
	font-weight: 900;
	line-height: 40px;
}

.comment-form {
	@media(--768vp) {
		width: 90vw;
	}
	.logged-in-as {
		a {
			font-size: 16px;
			color: var(--PrimaryOne);
			text-decoration: none;
			opacity: .4;
		}
	}
	label {
		font-family: var(--BodyCopy);
		font-size: 16px;
		font-weight: 800;
	}
	input {
		width: 100%;
	}
	.form-submit {
		display: inline-block;
		padding: 20px;
		margin: 0 .5em 8px 0;
		cursor: pointer;
		border: 0;
		border-radius: 0 !important;
		background: var(--PrimaryOne);
		outline: 0;
		color: var(--White);
		text-decoration: none;
		transition: all .25s ease-in-out;
		text-transform: uppercase;
		input {
			border-bottom: none;
			color: var(--White);
		}
		textarea {
			width: 100%;
		}
	}
}

.comments-area {
	width: 50vw;
	@media(--768vp) {
		width: 90vw;
	}
	h3 {
		&#wc-comment-header {
			text-align: center;
			color: var(--PrimaryOne);
			font-family: var(--BodyCopy);
			font-size: 32px;
			font-weight: 900;
			line-height: 40px;
			width: 100%;
		}
	}
}

#wpcomm {
	.wc-comment-author {
		color: var(--PrimaryOne);
		font-size: 22px;
		font-family: var(--BodyCopy);
		font-weight: 100;
		line-height: 28px;
		margin: 10px 0;
		text-align: left;
		a {
			color: var(--PrimaryOne);
			font-size: 22px;
			font-family: var(--BodyCopy);
			font-weight: 100;
			line-height: 28px;
			margin: 10px 0;
			text-align: left;
		}
	}
	p {
		color: var(--Black);
		font-family: var(--BodyCopy);
		font-size: 16px;
		font-weight: 300;
		line-height: 28px;
		width: 100%;
		display: flex;
	}
	.wc-cta-button {
		font-family: var(--BodyCopy);
	}
	.wc-comment-date {
		font-family: var(--BodyCopy);
	}
}

/*-----------------------------------------
   RELATED POSTS CSS
-----------------------------------------*/

.related-posts {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 90vw;
	padding-bottom: 200px;
	width: calc(100% + 2vw);
	margin: 0 4vw;
	h2 {
		text-align: center;
		color: var(--PrimaryOne);
		font-family: var(--BodyCopy);
		font-size: 32px;
		font-weight: 900;
		line-height: 40px;
		width: 100%;
	}
	p {
		color: var(--Black-Copy);
		font-family: var(--BodyCopy);
		font-size: 20px;
		font-weight: 300;
		line-height: 32px;
		margin: 10px 0;
		text-align: left;
		width: 100%;
	}
	.no-related {
		text-align: center;
	}
	article {
		margin: 1vw;
		width: calc(33.33% - 2vw);
		@media(--1024vp) {
			width: calc(50% - 2vw);
		}
		@media(--768vp) {
			width: calc(100% - 2vw);
		}
		.background-image {
			min-height: 320px !important;
			height: 320px;
			width: 100%;
			transform: none !important;
			position: relative !important;
			transition: all .5s linear !important;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			display: block !important;
		}
		.post-head {
			position: relative;
			overflow: hidden;
			&:hover .background-image {
				-webkit-transform: scale(1.1) !important;
				transform: scale(1.1) !important;
			}
		}
		.category-contain {
			width: 50%;
			height: 40px;
			position: absolute;
			bottom: 25px;
			padding: 0 1vw;
			@add-mixin Flex;
			justify-content: flex-end;
			align-items: center;
			background: var(--PrimaryOne);
			p {
				font-size: 16px;
				font-weight: 600;
				text-align: right;
				text-transform: uppercase;
				margin: 0;
				letter-spacing: 2px;
				color: var(--White);
			}
		}
		.post-body {
			padding: 20px;
			position: relative;
			padding-bottom: 64px;
			margin-bottom: 50px;
			.post-tags {
				color: var(--PrimaryTwo);
				margin: 0;
				a {
					color: var(--PrimaryTwo);
					font-size: 16px;
					line-height: 28px;
					text-transform: uppercase;
					letter-spacing: 1px;
					text-decoration: none;
				}
			}
			a {
				text-decoration: none;
				h2 {
					color: var(--PrimaryOne);
					font-size: 22px;
					font-family: var(--HeadCopy);
					font-weight: 900;
					line-height: 28px;
					margin: 10px 0;
					text-align: left;
				}
				p {
					color: var(--Black);
					font-family: var(--BodyCopy);
					font-size: 16px;
					font-weight: 300;
					line-height: 28px;
				}
			}
			.button {
				background: transparent;
				color: var(--PrimaryOne);
				border: 3px solid var(--PrimaryOne);
				padding: 20px 50px;
				margin: 0;
				position: absolute;
				bottom: 0;
				&:hover,
				&:focus,
				&.is-hover {
					background: var(--PrimaryOne);
					color: var(--White);
				}
			}
		}
	}
}