.default-contents {
	.main-block {
		@add-mixin Flex;
		justify-content: center;
		align-content: center;
		width: 60vw;
		margin: 15vh 0;
		@media(--768vp){
			width: 90vw;
		}
		h2 {
			color: var(--PrimaryOne);
			font-size: responsive 20px 32px; 
			font-range: 420px 1400px;
			line-height: 40px;
			margin-top: 0;
			width: 100%;
		}
		p {
			font-size: responsive 16px 20px; 
			font-range: 420px 1400px;
			line-height: 32px;
			margin: 0;
		}
	}
}
/*-----------------------------------------
   ABOUT PAGE CSS
-----------------------------------------*/
.page-id-213 {
	.main-block {
		.main-content-2 {
			position: relative;
			@media (--1024vp) {
				padding-bottom: 0;
			}
			.half-content {
				margin: 10vh 0;
				h3 {
					display: none;
				}
			}
			&:nth-child(odd) {
				.half-content {
					order: 2;
				}
				.half-image {
					order: 1;
				}
			}
			&:nth-child(even) {
				.half-content {
					order: 1;
					@media (--1024vp) {
						order: 2;
					}
				}
				.half-image {
					order: 2;
					@media (--1024vp) {
						order: 1;
					}
				}
			}
			&:last-child {
				padding-bottom: 30vh;
				&::before {
					content: "";
					background-image: url('../images/flower.svg');
					background-repeat: no-repeat;
					background-size: contain;
					background-position: bottom left;
					width: 30%;
					min-height: 75%;
					position: absolute;
					left: -55px;
					bottom: -200px;
					z-index: -1;
					@media (--1024vp) {
						bottom: -150px;
						width: 40%;
					}
					@media (--768vp) {
						bottom: -100px;
    				left: -20px;
					}
					@media(--515vp) {
						bottom: -50px;
    				left: -40px;
						width: 60%;
					}
				}
			}
		}
	}
}
/*-----------------------------------------
   CONTACT PAGE CSS
-----------------------------------------*/
.page-id-226, .page-id-228 {
	.default-contents {
		min-height: 700px;
		&::before{
			background-image: none;
		}
		.main-block {
			margin: 4vh 0;
			@media(--768vp){
				width: 90vw;
				margin: 4vh 0 35vh;
			}
		}
		.background-image {
			background-image: url(../images/flowers.svg);
			min-width: 350px;
			min-height: 400px;
			background-repeat: no-repeat;
			position: absolute;
			z-index: 0;
			top: 0;
			left: 0;
			-webkit-transform: rotate(180deg);
    	transform: rotate(180deg);
			display: none;
			@media(--768vp){
				display: none;
			}
		}
		.background-image-2 {
			background-image: url(../images/flowers.svg);
			min-width: 400px;
			min-height: 600px;
			background-repeat: no-repeat;
			position: absolute;
			z-index: 0;
			top: -100px;
			right: -80px;
			@media(--768vp){
				display: none;
			}
		}
		.background-image-3 {
			background-image: url(../images/flower.svg);
			min-width: 400px;
			min-height: 240px;
			background-repeat: no-repeat;
			position: absolute;
			z-index: 0;
			bottom: 0;
			left: -50px;
		}
	}
}
/*-----------------------------------------
   THANK YOU PAGE CSS
-----------------------------------------*/
.page-id-176, .page-id-231 {
	.default-contents {
		align-items: flex-start;
		padding-bottom: 24vh;
		&::before{
			background-image: none;
		}
		.main-block {
			margin: 6vh 0;
    	text-align: center;
			p {
				padding-bottom: 4vh;
				width: 100%;
			}
			@media(--768vp){
				width: 90vw;
			}
		}
		.background-image {
			display: none;
		}
		.background-image-2 {
			display: none;
		}
		.background-image-3 {
			background-image: url(../images/flower.svg);
			min-width: 400px;
			min-height: 240px;
			background-repeat: no-repeat;
			position: absolute;
			z-index: 0;
			bottom: 0;
			left: -50px;
		}
	}
}
/*-----------------------------------------
   PRIVACY POLICY CSS
-----------------------------------------*/
.privacy-policy {
	.default-contents {
		&::before{
			background-image: none;
		}
		.main-block {
			justify-content: flex-start;
			width: 90vw;
			margin: 8vh 0;
			h2 {
				margin: 2vh 0;
			}
			p {
				margin: 2vh 0;
				width: 100%;
			}
			ul{
        list-style: none;
        padding: 50px 0 0 0;
        margin: 0;
				@media(--768vp){
          padding: 20px 0 0 0;
        }
        li{
          padding-left: 50px;
          position: relative;
          margin-bottom: 30px;
          font-size: responsive 16px 20px; 
	        font-range: 420px 1400px;
          @media(--1024vp){
            padding-left: 25px;
          }
					@media(--768vp){
						margin-bottom: 10px;
					}
          &::before{
            content: "";
            width: 16px;
            height: 16px;
            background-color: var(--PrimaryTwo);
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: 7px;
            bottom: 0;
            @media(--1024vp){
              width: 8px;
              height: 8px;
              top: 12px;
            }
          }
        }
      }
		}
	}
}