.page-template-template-floorplan {
	padding-top: 80px;

	& .flex-wrap {
		display: flex;
		flex-wrap: wrap;
		position: relative;
		overflow: hidden;
		padding-bottom: 10em;

		&::before {
			content: "";
			background-image: url('../images/flower.svg');
			background-repeat: no-repeat;
			background-size: contain;
			background-position: bottom left;
			width: 30%;
			min-height: 75%;
			position: absolute;
			left: -55px;
			bottom: -200px;
			z-index: -1;

			@media (--1024vp) {
				bottom: -150px;
				width: 40%;
			}
			
			@media (--768vp) {
				bottom: -100px;
				left: -20px;
			}

			@media (--515vp) {
				bottom: -50px;
				left: -40px;
				width: 60%;
			}
		}

		&::after {
			content: "";
			background-image: url('../images/flowers.svg');
			background-repeat: no-repeat;
			background-size: contain;
			background-position: top right;
			width: 314px;
			min-height: 450px;
			position: absolute;
			right: -80px;
			top: 30%;
			z-index: -1;

			@media (--1024vp) {
				display: none;
			}
		}
	}

	& section.map {
		position: relative;
		width: 50%;
		padding: 4em 1em;

		@media (--768vp) {
			width: 100%;
			padding: 1em 2em 1em;
		}

		& .key {
			padding: 8px;
			text-align: center;

			& p {
				display: inline-flex;
				align-content: center;
				align-items: center;
				margin: 0;
				padding: 0 .5em;

				&::before {
					display: inline-block;
					content: '';
					width: 24px;
					height: 24px;
					vertical-align: middle;
					margin-right: 8px;
					border-radius: 50%;
					background-color: white;
				}

				&:first-child::before {
					background-color: rgba(126, 0, 0, .25);
				}

				&:last-child::before {
					border: 2px solid #7E0000;
				}
			}
		}

		& .container {
			display: flex;

			& svg {
				max-height: 600px;
				margin: 0 auto;
				width: 100%;
				height: inherit;
				height: intrinsic;
			}
		}

		& svg {
			.st0 {
				opacity: 0.1;
				fill: #7E0000;
				enable-background: new;
			}

			.st1 {
				fill: #7E0000;
			}

			.st2 {
				font-family: Avenir Black, sans-serif;
			}

			.st3 {
				font-size: 70px;
			}
		}
	}

	& main {
		width: 50%;
		padding: 4em 1em;

		@media (--768vp) {
			width: 100%;
			padding: 1em 2em 14em;
		}

		& h1 {
			margin: 0;
			color: #333333;
			font-size: 48px;
			font-weight: 900;
		}

		&>p {
			font-family: var(--AltCopyLight);
      color: var(--PrimaryTwo);
			font-size: 20px;
		}
	}

	& section.listing {
		& dl {
			column-count: 2;
			font-family: Avenir Book, sans-serif;
			line-height: 1.5;

			@media (--515vp) {
				column-count: 1;
			}

			& dt {
				font-size: 18px;
				font-family: Avenir Black, sans-serif;
				padding: 4px 0;
				color: #7E0000;
				margin: 2em 0 4px;

				&:first-child {
					margin-top: 0;
				}
			}

			& dd {
				margin: 0;
				padding: 8px 0;

				& a {
					color: black;
					text-decoration: none;
					display: flex;
					flex-wrap: wrap;

					&:hover,
					&:focus {
						text-decoration: underline;
					}
				}

				& span {
					font-family: var(--AltCopyLight);
					font-size: 14px;
					margin: 0;
					display: block;
					width: 100%;
					color: #7E0000;
				}
			}
		}

		& h6 {
			margin-top: 64px;
			text-align: center;
		}

		& p {
			margin-bottom: 64px;
			text-align: center;
		}

		& a {
			color: black;
			text-decoration: none;

			&:hover,
			&:focus {
				text-decoration: underline;
			}
		}
	}
}