/*-----------------------------------------
   LOCATIONS PAGE
-----------------------------------------*/
.page-template-template-locations {

	& .main-header-small-section {
		padding: 8rem 25px 18rem;
	}

	& .default-contents {
		margin: 0 auto;
		padding: 0 1em;
		overflow: visible;
		top: -240px;

		&:before {
			display: none;
		}

		&.location-cards {
			background-image: url('../images/rose-1.svg');
			background-repeat: no-repeat;
			background-size: auto 30vh;
			background-position: bottom left;
			padding-bottom: 300px;
			margin-bottom: -240px;
		}

		& .acf-map {
			width: 100%;
			height: 400px;
			border: #ccc solid 1px;
			margin: 20px 0;
			max-width: 1090px;

			& img {
				max-width: inherit !important;
			}
		}

		& .locations-container {
			max-width: 1024px;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: auto;
			grid-gap: 24px;

			@media(--1024vp) {
				grid-template-columns: 1fr 1fr;
			}

			@media(--515vp) {
				grid-template-columns: 1fr;
			}

			&>div {
				width: 100%;
				padding: 2em;
				margin-bottom: 1em;

				&:hover,
				&:focus {
					background-color: rgba(236, 238, 242, 0.75);
				}

				& a {
					text-decoration: none;
					color: var(--PrimaryOne);
					margin-bottom: 2rem;
					display: flex;
					flex-wrap: wrap;
					align-items: center;
					font-size: 20px;

					&:hover,
					&:focus {
						text-decoration: underline;
					}

					&:first-of-type {

						&:hover,
						&:focus {
							text-decoration: none;

							& h2 {
								text-decoration: underline;
							}
						}
					}

					&.button {
						display: inline-block;
						color: var(--PrimaryOne);
						background: transparent;
						border: 3px solid var(--PrimaryOne);
						font-size: 16px;
						padding: 1.5em;
						margin: 0;

						&:hover,
						&:focus {
							text-decoration: none;
							color: var(--White);
							background: var(--PrimaryOne);
						}
					}
				}

				& h2 {
					margin-top: 0;
					color: var(--PrimaryOne);
					font-size: 26px;
				}

				& address {
					font-style: normal;
					font-size: 20px;
					font-family: var(--BodyCopy);
					margin-bottom: 2rem;
					line-height: 1.5;
				}

				& svg {
					width: 23px;
					height: 23px;
					margin-right: 1em;
				}

				&.coming-soon {
					background-image: url('../images/no-profile-photo.jpg');
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center;
					display: flex;
					flex-direction: column;

					& h2 {
						color: white;
						font-size: 40px;
					}

					& p {
						color: white;
						font-style: normal;
						font-size: 24px;
						line-height: 1;
						margin: 0;
						flex-grow: 1;
					}

					& a.button {
						background-color: #7e0000;
						color: white;
						display: inline-flex;
						justify-content: center;
						align-items: center;
						margin-top: 48px;
					}
				}
			}
		}
	}
}

section.location-ctas {
	display: flex;
	flex-wrap: wrap;
	background-color: #f3e2e2;
	margin-top: -240px;

	&>div {
		width: 50%;
		background-color: #F3E2E2;
		position: relative;
		padding: 4em 8em;

		@media (--1200vp) {
			padding: 4em;
		}

		@media (--1024vp) {
			width: 100%;
			text-align: center;
		}

		&:hover,
		&:focus {
			background-color: var(--PrimaryOne);
			color: var(--White);

			& h2 {
				color: var(--White);
			}

			& .button {
				color: var(--PrimaryOne);
				background: var(--White);
			}
		}

		& a {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}

		& h2 {
			margin-top: 0;
			font-size: 32px;
			color: var(--PrimaryOne);
			margin-bottom: 2rem;
		}

		& address {
			font-style: normal;
			font-size: 20px;
			font-family: var(--BodyCopy);
			margin-bottom: 2rem;
			line-height: 1.5;
		}

		& .button {
			background: transparent;
			color: var(--PrimaryOne);
			border: 3px solid var(--PrimaryOne);
		}
	}
}