/*-----------------------------------------
   SALON EXPERT PAGE CSS
-----------------------------------------*/
.post-type-archive-salonexpert {
	.salon-expert-header {

		h3 {
			color: var(--White);
			font-family: var(--AltCopyLight);
			font-size: 32px;
			font-style: italic;
			letter-spacing: 0.66px;
		}
	}

	h3 {
		color: var(--PrimaryOne);
	}
}

.post-type-archive-salonexpert {

	& .secondary-nav {
		text-align: center;
	}

	& .filters {

		& select {
			display: inline-block;
			font-size: 18px;
			background: var(--White);
			color: var(--PrimaryOne);
			border: none;
			min-width: 250px;
			border-bottom: 2px solid #DF9595;
			-webkit-appearance: none;
			background-image: url(../images/down-arrow.svg);
			background-position: center right;
			background-repeat: no-repeat;
			background-size: 14px;
			margin-right: 20px;

			@media(--768vp) {
				margin: 10px auto;
			}

			&.is-activated {
				border-color: var(--PrimaryOne);
			}
		}
	}

	& .expert-preview {
		margin: .5vw .5vw 3vw !important;
		display: flex;
		flex-direction: column;

		@media(--768vp) {
			margin: 32px 0 !important;
		}

		&.Makeup,
		&.Makeup,
		&.Microblade,
		&.Injectables {
			& .category-contain p {
				color: #000 !important;
			}
		}

		& .background-image {
			background-position: top center !important;
		}

		& .category-contain p {
			letter-spacing: 2px !important;
			font-size: 14px !important;
			font-family: 'Avenir Heavy' !important;
		}

		&>p {
			color: #DF9595;
			font-family: 'Merriweather Italic';
			margin: 0;
			line-height: 1;

			&:first-of-type {
				color: #949D7F;
				font-family: 'Avenir Heavy';
				text-transform: uppercase;
				letter-spacing: 1px;
				margin-top: 12px;
				font-size: 14px;
			}
		}

		& h2 {
			color: #7E0000;
			font-size: 28px;
			margin: 0;
			line-height: 1.33;
			margin: 8px 0 16px 0;
		}

		&>a {
			color: inherit;
			text-decoration: none;
			flex-grow: 1;
			display: block;
		}

		& .buttons {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			align-items: center;
			margin-top: 32px;

			& .button {
				border: 2px solid #7E0000;
				background-color: transparent;
				color: #7E0000;
				text-align: center;
				display: inline-table;
				padding: 18px 24px;
				font-family: 'Avenir Heavy';
				font-size: 14px;
				margin: 0;

				&:first-child {
					margin: 0 14px 0 0;
				}

				&:hover,
				&:focus {
					background: #7E0000;
					color: #fff;
				}
			}
		}
	}
}

/*-----------------------------------------
   SINGLE SALON EXPERT PAGE CSS
-----------------------------------------*/
.single-salonexpert {
	& section.map {
		position: relative;
		width: 100%;
		padding: 4em 1em;

		@media (--768vp) {
			padding: 1em 2em 1em;
		}

		& .key {
			padding: 8px;
			text-align: center;

			& p {
				display: inline-flex;
				align-content: center;
				align-items: center;
				margin: 0;
				padding: 0 .5em;

				&::before {
					display: inline-block;
					content: '';
					width: 24px;
					height: 24px;
					vertical-align: middle;
					margin-right: 8px;
					border-radius: 50%;
					background-color: white;
				}

				&:first-child::before {
					background-color: rgba(126, 0, 0, .25);
				}

				&:last-child::before {
					border: 2px solid #7E0000;
				}
			}
		}

		& .container {
			display: flex;

			& svg {
				max-height: 400px;
				margin: 0 auto;
				width: 100%;
				height: inherit;
				height: intrinsic;
			}
		}

		& svg {
			.st0 {
				opacity: 0.1;
				fill: #7E0000;
				enable-background: new;
			}

			.st1 {
				fill: #7E0000;
			}

			.st2 {
				font-family: Avenir Black, sans-serif;
			}

			.st3 {
				font-size: 70px;
			}
		}
	}

	& article {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		max-width: 1200px;
		margin: 90px auto 64px auto;
		justify-content: space-between;
		align-items: flex-start;
		padding: 0 2em;

		@media(--1024vp) {
			justify-content: center;
		}

		&>div {
			width: calc(100% - 464px);

			@media(--1024vp) {
				width: 100%;
			}

			&:first-of-type {
				width: 25rem;

				& img {
					width: 100%;
				}
			}
		}

		&>a:first-child {
			color: var(--PrimaryOne);
			font-family: var(--BodyCopy);
			font-size: 14px;
			font-weight: 800;
			line-height: 32px;
			text-decoration: none;
			opacity: 0.4;
			margin: 0 0 0 1em;
			width: 100%;

			&:hover,
			&:focus,
			&.is-hover {
				opacity: 1;
			}

			& span {
				font-size: 10px;
				vertical-align: bottom;
				display: inline-block;
			}
		}

		&>img {
			width: 400px;
			max-width: 100%;
			height: auto;
			display: block;
			margin: 10px 0;
		}

		& h1 {
			color: #7e0000;
			font-size: 32px;
			font-weight: 900;
			line-height: 46px;

			&+h2 {
				margin: -10px 0 16px 0;
			}
		}

		& h2 {
			font-size: 24px;
			margin: 32px 0 8px 0;
		}

		& p {
			font-family: var(--BodyCopy);
			font-size: 16px;
			font-weight: 300;
			line-height: 28px;
		}

		& ul {
			list-style-type: none;
			padding: 0;
			margin: 0;

			li {
				span {
					margin-right: 5vw;
					width: 40px;
					display: inline-block;
				}
			}
		}

		& section {
			padding: 0 18px;

			&.contact-info {

				& .button {
					background: transparent;
					color: var(--PrimaryOne);
					border: 3px solid var(--PrimaryOne);
					padding: 1rem 1.5rem;
					margin: 0 8px 0 0;
					font-weight: bold;

					&:hover,
					&:focus,
					&.is-hover {
						background: var(--PrimaryOne);
						color: var(--White);
					}

					@media(--515vp) {
						padding: 10px 16px;
					}
				}
			}

			&.hours {
				& ul {
					column-count: 2;

					@media(--515vp) {
						column-count: 1;
					}
				}
			}

			&.social-links {
				& .social {
					display: inline-block;
					margin: 0 8px;
					position: relative;
					top: 9px;
				}
			}

			&.story {

				& ul:first-of-type {
					display: flex;
					flex-wrap: wrap;
					justify-content: flex-start;
					margin-bottom: 32px;

					& li {
						padding: 0 18px 0 0;
						font-style: italic;
					}
				}
			}
		}
	}
}