/*-----------------------------------------
    SEARCH PAGE
-----------------------------------------*/
.search {
	.default-contents {
		padding: 8vh 0;
		article {
			width: 90vw;
			a {
				text-decoration: none;
				&:hover h2, &:focus h2, &.is-hover h2 {
					opacity: 1;
				}
				h2 {
					opacity: 0.4;
				}
			}
			p {
				text-align: left;
			}
		}
		p {
			width: 100%;
			text-align: center;
			color: var(--Black);
			font-family: var(--BodyCopy);
			font-size: 20px;
			font-weight: 300;
			line-height: 28px;
		}
		h2 {
			color: var(--PrimaryOne);
			font-family: var(--BodyCopy);
			font-size: responsive 30px 42px; 
			font-range: 420px 1400px;
			font-weight: 900;
			line-height: 46px;
			opacity: 0.4;
		}
		input {
			width: 30vw;
		}
	}
}