/*-----------------------------------------
   SINGLE LOCATION PAGE
-----------------------------------------*/
body.single-location {
	& .main-header-homepage-section .content {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		max-width: 900px;

		& h3 {
			width: 100%;
			margin-bottom: 1em;
		}

		& .button {
			display: inline-flex;
			flex-wrap: wrap;
			align-items: center;
			height: 90px;
			margin: 0 1em 1em;

			& svg {
				width: 30px;
				height: 30px;
				margin-right: 1em;
			}
		}
	}

	& .promo {
		background-color: #F3E2E2;
		padding: 2em 1em;

		& h2 {
			margin: 0;
			color: var(--PrimaryOne);
			text-align: center;
			font-size: 32px;
		}
	}

	& .main-block {

		& ul {
			list-style: none;
			padding: 0;
			margin: 0;
			width: 50%;
			padding-right: 2em;

			@media(--1024vp) {
				width: 100%;
				padding-right: 0;
			}

			& li {
				padding-left: 50px;
				position: relative;
				margin-bottom: 30px;
				font-size: responsive 16px 20px;
				font-range: 420px 1400px;

				@media(--1024vp) {
					padding-left: 25px;
				}

				@media(--768vp) {
					margin-bottom: 20px;
				}

				&::before {
					content: "";
					width: 16px;
					height: 16px;
					background-color: var(--PrimaryTwo);
					border-radius: 50%;
					position: absolute;
					left: 0;
					top: 7px;
					bottom: 0;
				}
			}
		}
	}
}