/*-----------------------------------------
    PAGE TITLE
-----------------------------------------*/
.styleguide-title {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	min-height: 40vh;
	margin-top: 80px;

	&>.block {
		padding: 40px;
		border-radius: 25px;
		box-shadow: 0 2px 10px rgba(0, 67, 115, .2);
		text-align: center;
		max-width: 90vw;

		& svg {
			width: auto;
			height: 150px;
		}

		& h1,
		& h2 {
			margin: 0;
			line-height: 1.37;
		}
	}
}

/*-----------------------------------------
    LAYOUT
-----------------------------------------*/
.styleguide-container {
	display: flex;
	flex-wrap: wrap;
	max-width: 90vw;
	margin: 0 auto;

	&>.block {
		width: 45vw;
		padding: 0 2.5vw;

		@media (--1200vp) {
			width: 90vw;
			padding: 0;
		}
	}
}

.styleguide-section {
	&>h2 {
		margin-top: 8vh;
	}
}

;

/*-----------------------------------------
    COLORS
-----------------------------------------*/
.colors {
	display: flex;
	flex-wrap: wrap;

	&>p:first-child {
		width: 100%;
		margin: 3vh 0;
		font-family: var(--HeadCopy);
		font-size: .875rem;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
}

.color {
	width: 6.4vw;
	margin-right: 2vw;
	margin-bottom: 2vw;

	@media (--1200vp) {
		width: 14.8vw;
		margin-right: 4vw;
	}

	@media (--1024vp) {
		width: 25vw;
		margin-right: 5vw;
	}

	&:nth-of-type(5n) {
		margin-right: 0;

		@media (--768vp) {
			margin-right: 8vw;
		}
	}

	&:nth-of-type(3n) {
		@media (--768vp) {
			margin-right: 0;
		}
	}

	& .color-swatch {
		border-radius: 16px;
		width: 6.4vw;
		height: 6.4vw;
		position: relative;

		@media (--1200vp) {
			width: 12.8vw;
			height: 12.8vw;
		}

		@media (--1024vp) {
			width: 25vw;
			height: 25vw;
		}

		&::after {
			content: '';
			position: absolute;
			width: calc(100% + 8px);
			height: calc(100% + 8px);
			left: -4px;
			top: -4px;
			background: var(--White);
			border-radius: 16px;
			box-shadow: 0 2px 10px rgba(0, 67, 115, .2);
			z-index: -1;
		}
	}

	& .color-details {
		margin-top: 1rem;

		@media (--768vp) {
			margin-bottom: 8vw;
		}

		& p {
			text-transform: uppercase;
			margin: 0 0 .5em 0;
			padding-left: .75em;
			font-size: .75em;
			font-family: var(--BodyCopy-Bold);

			& span {
				font-family: var(--BodyCopy);
				color: var(--Black-Copy);
				margin-left: .75em;

				@media (--768vp) {
					display: block;
				}
			}
		}
	}
}

.colors:nth-of-type(1) {
	& .color:nth-of-type(1) .color-swatch {
		background-color: var(--PrimaryOne);
	}

	& .color:nth-of-type(2) .color-swatch {
		background-color: var(--PrimaryTwo);
	}

	& .color:nth-of-type(3) .color-swatch {
		background-color: var(--PrimaryThree);
	}

	& .color:nth-of-type(4) .color-swatch {
		background-color: #3e3e3e;
	}
}

.colors:nth-of-type(2) {
	& .color:nth-of-type(1) .color-swatch {
		background-color: var(--NeutralOne);
	}

	& .color:nth-of-type(2) .color-swatch {
		background-color: var(--NeutralTwo);
	}

	& .color:nth-of-type(3) .color-swatch {
		background-color: #F3F6ED;
	}

	& .color:nth-of-type(4) .color-swatch {
		background-color: #F3E2E2;
	}

	& .color:nth-of-type(5) .color-swatch {
		background-color: #DF9696;
	}
}

/*-----------------------------------------
    FONTS
-----------------------------------------*/
.fonts {
	display: flex;
	flex-wrap: wrap;
}

.font {
	width: 8.5vw;
	height: 8.5vw;
	margin-right: 2vw;
	margin-bottom: 2vw;
	border: 1px solid var(--NeutralTwo);
	border-radius: 50%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	&:nth-child(1)>.block p {
		font-family: var(--HeadCopy);
	}

	&:nth-child(2)>.block p {
		font-family: var(--BodyCopy);
	}

	&:nth-child(3)>.block p {
		font-family: var(--BodyCopy-Bold);
	}

	&:nth-child(4)>.block p {
		font-family: var(--AltCopy);
	}

	@media (--1200vp) {
		width: 19.5vw;
		height: 19.5vw;
		margin-right: 4vw;
	}

	@media (--1024vp) {
		width: 41vw;
		height: 41vw;
		margin-right: 8vw;
		margin-bottom: 8vw;

		&:nth-child(2n) {
			margin-right: 0;
		}
	}

	&:nth-child(4n) {
		margin-right: 0;
	}

	&>.block {
		width: 100%;

		& p {
			font-size: 2.5rem;
			margin: 0;
			text-align: center;

			@media (--1024vp) {
				font-size: 5rem;
			}

			@media (--768vp) {
				font-size: 3rem !important;
			}
		}

		& p:first-child,
		& p:last-child {
			font-size: .75rem;
			font-family: var(--BodyCopy-Bold);
			line-height: 1;

			@media (--1024vp) {
				font-size: 1.5rem;
			}

			@media (--768vp) {
				font-size: .75rem !important;
			}
		}
	}
}

/*-----------------------------------------
    TYPOGRAPHY
-----------------------------------------*/
.typography {
	&>p:first-child {
		width: 100%;
		margin: 4vh 0 1vh 0;
		font-family: var(--HeadCopy);
		font-size: .875rem;
		letter-spacing: 1px;
		text-transform: uppercase;

		& span {
			color: var(--Black-Copy);
		}
	}

	&.subheader {
		& h3 {
			font-family: var(--AltCopyLight);
			text-shadow: 0 2px 4px rgba(0, 0, 0, .5);
		}
	}

	&>h1,
	&>h2,
	&>h3,
	&>h4,
	&>h5,
	&>p {
		margin: 0;
	}

	&:last-of-type p:last-of-type {
		font-size: responsive 10px 14px;
	}
}

/*-----------------------------------------
    LOGOS
-----------------------------------------*/
.logos {
	display: flex;
	flex-wrap: wrap;
}

.logo {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 19vw;
	height: 10vw;
	margin-right: 2vw;
	margin-bottom: 2vw;
	box-shadow: 0 2px 10px rgba(0, 67, 115, .2);
	border-radius: 10px;

	@media (--1200vp) {
		width: 43vw;
		height: 17vw;
		margin-right: 4vw;
	}

	@media (--768vp) {
		width: 38.5vw;
		margin-right: 8vw;
	}

	@media (--515vp) {
		width: 90vw;
		height: 35vw;
		margin-right: 0vw;
	}

	&:first-of-type {
		width: 40vw;
		height: 14vw;
		margin-right: 0;

		@media (--1200vp) {
			width: 90vw;
			height: 35vw;
		}
	}

	&:nth-child(odd) {
		margin-right: 0;
	}

	& svg,
	& img {
		height: 75%;
		width: 150px;
	}
}

/*-----------------------------------------
    ICONS
-----------------------------------------*/
.icons {
	display: flex;
	flex-wrap: wrap;
}

.icon {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 5vw;
	height: 5vw;
	margin-right: 2vw;
	margin-bottom: 2vw;
	box-shadow: 0 2px 10px rgba(0, 67, 115, .2);
	border-radius: 10px;

	@media (--1200vp) {
		width: 11.6vw;
		height: 11.6vw;
		margin-right: 4vw;
		margin-bottom: 4vw;
	}

	@media (--768vp) {
		width: 19.5vw !important;
		height: 19.5vw !important;
		margin-right: 4vw;
		margin-bottom: 4vw;

		&:nth-child(6n) {
			margin-right: 4vw;
		}

		&:nth-child(4n) {
			margin-right: 0vw;
		}
	}

	&:nth-child(6n) {
		margin-right: 0;
	}

	& a {
		width: 5vw;
		height: 5vw;
		display: flex;
		align-items: center;
		justify-content: center;

		@media (--768vp) {
			width: 10vw;
			height: 10vw;
		}

		& svg,
		& img {
			height: 75%;
			width: auto;
		}
	}
}

/*-----------------------------------------
    IMAGERY
-----------------------------------------*/
.images {
	display: flex;
	flex-wrap: wrap;
}

.image {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 40vw;
	height: 22vw;
	margin-right: 0;
	margin-bottom: 2vw;
	box-shadow: 0 2px 10px rgba(0, 67, 115, .2);
	border-radius: 10px;
	background-size: cover;
	background-position: center;

	@media (--1200vp) {
		width: 90vw;
		height: 44vw;
	}

	@media (--768vp) {
		width: 85vw;
		height: 45vw;
		margin-bottom: 4vw;
	}
}

/*-----------------------------------------
    BUTTONS
-----------------------------------------*/
.buttons {
	&>p:first-child {
		width: 100%;
		margin: 3vh 0 1.25vh;
		font-family: var(--HeadCopy);
		font-size: .875rem;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
}

/*-----------------------------------------
    FORMS
-----------------------------------------*/
.inputs {
	display: flex;
	flex-wrap: wrap;
}

.input {
	width: 19vw;
	margin-right: 2vw;
	margin-bottom: 2vw;

	@media (--1200vp) {
		width: 40.5vw;
		margin-right: 4vw;
	}

	@media (--1200vp) {
		width: 85vw;
		margin-right: 0;
	}

	&:nth-child(2n) {
		margin-right: 0;
	}

	&:last-child,
	&:nth-last-child(2) {
		width: 100%;
		margin: 0;
	}

	& input,
	& select,
	& textarea {
		width: 100%;
	}

	& input[type="radio"],
	& input[type="checkbox"] {
		width: 16px;
	}
}

/*-----------------------------------------
    LISTS
-----------------------------------------*/
.lists {
	display: flex;
	flex-wrap: wrap;
}

.list {
	width: 19vw;
	margin-right: 2vw;

	&:nth-child(2n) {
		margin-right: 0;
	}

	@media (--1200vp) {
		width: 38.5vw;
		margin-right: 4vw;
	}

	@media (--768vp) {
		width: 85vw;
		margin-right: 0;
	}

	& ul {
		list-style: none;
		padding: 0;
		margin: 0;
		padding-right: 2em;

		@media(--1024vp) {
			padding-right: 0;
		}

		& li {
			padding-left: 50px;
			position: relative;
			margin-bottom: 30px;
			font-size: responsive 16px 20px;
			font-range: 420px 1400px;

			@media(--1024vp) {
				padding-left: 25px;
			}

			@media(--768vp) {
				margin-bottom: 20px;
			}

			&::before {
				content: "";
				width: 16px;
				height: 16px;
				background-color: var(--PrimaryTwo);
				border-radius: 50%;
				position: absolute;
				left: 0;
				top: 7px;
				bottom: 0;
			}
		}
	}

	& ol {
		padding: 0;
		margin: 0;
		padding-right: 2em;

		@media(--1024vp) {
			padding-right: 0;
		}

		& li {
			padding-left: 50px;
			position: relative;
			margin-bottom: 30px;
			font-size: responsive 16px 20px;
			font-range: 420px 1400px;

			@media(--1024vp) {
				padding-left: 25px;
			}

			@media(--768vp) {
				margin-bottom: 20px;
			}
		}
	}
}