/*-----------------------------------------
    Thank You PAGE
-----------------------------------------*/
.page-template-template-thankyou .title-section  {
	min-height: calc(100vh - 192px);
	background-image: url('../images/rose-3.svg');
	background-repeat: no-repeat;
	background-size: auto 50%;
	background-position: bottom right;
	@media (--1024vp) {
		min-height: calc(100vh - 150px);
	}
}

.thank-message {
	width: 80vw;
	margin: 0 auto 0 auto;
	& h1 {
		font-size: responsive 60px 100px; 
		font-range: 420px 1400px;
		margin: 0 0 10px 0;
		color: var(--PrimaryOne);
	}
	& h2 {
		margin-bottom: 2rem;
		max-width: 800px;
	}
	& svg {
		width: 80px;
		fill: var(--PrimaryOne);
	}
}