/*-----------------------------------------
    BUTTONS
-----------------------------------------*/
button, .button {
	display: inline-block;
	padding: 30px 50px;
	margin: 0 .5em .5rem 0;
	cursor: pointer;
	border: none;
	border-radius: 0 !important;
	background: var(--PrimaryOne);
	outline: none;
	color: var(--White-Copy);
	text-decoration: none;
	transition: all .25s ease-in-out;
	text-transform: uppercase;
	font-family: var(--BodyCopy);
	letter-spacing: 0.069em;
	@media(--768vp){
		padding: 15px 25px;
	}
	@media(--515vp){
		font-size: 14px;
	}
	&:hover, &:focus, &.is-hover {
		background: color(var(--PrimaryOne) shade(10%));
	}
	&:active, &.is-active {
		background: color(var(--PrimaryOne) shade(15%));
	}
	&.is-secondary {
		background: var(--NeutralOne);
		color: var(--Black-Copy);
		&:hover, &:focus, &.is-hover {
			background: color(var(--NeutralOne) shade(10%));
		}
		&:active, &.is-active {
			background: color(var(--NeutralOne) shade(15%));
		}
	}
	&.is-small {
		padding: .35em 1em;
		font-size: .875rem;
	}
}

/*-----------------------------------------
    SOCIAL BUTTONS
-----------------------------------------*/
.social-button {
	width: 75px;
	height: 75px;
	display: inline-block;
	padding: 16px;
	margin-right: 10px;
	margin-bottom: 10px;
	box-shadow: 0 2px 10px rgba(0, 67, 115, .2);
	border-radius: 10px;
	& svg {
		width: 100%;
		height: auto;
		transition: all .25s ease-in-out;
	}
	&.facebook:hover svg {
		fill: #3b5998;
	}
	&.instagram:hover svg {
		fill: #d10869;
	}
	&.twitter:hover svg {
		fill: #1dcaff;
	}
	&.linkedin:hover svg {
		fill: #0077B5;
	}
	&.pinterest:hover svg {
		fill: #C92228;
	}
}