/*-----------------------------------------
    FORMS
-----------------------------------------*/
form {}

li.gfield>label.gfield_label {
	letter-spacing: 1px;
	font-size: 14px;
}

label {
	display: block;
	font-family: var(--BodyCopy-Bold);
	text-transform: uppercase;
	padding: .5em 0;
	color: var(--PrimaryOne) !important;
}

input {
	font-family: var(--BodyCopy);
	border: none;
	border-bottom: 2px solid var(--Black-Copy);
	padding: .5em;
	background-color: transparent;

	&:focus {
		outline: none;
		border-color: var(--PrimaryThree);
	}

	&.is-activated {
		&:valid {
			border-color: green;
		}

		&:invalid:not(:focus):not(:placeholder-shown) {
			border-color: red;
			background-image: url(../images/input_error.svg);
			background-repeat: no-repeat;
			background-position: right top 4px;
			background-size: 20px;
		}
	}
}

.main-content-right .gform_wrapper ul.gfield_radio li input[type=radio].LV_valid_field,
.main-block .gform_wrapper ul.gfield_radio li input[type=radio].LV_valid_field {
	border: none !important;
}

input[type="radio"],
.main-content-right .gform_wrapper ul.gfield_radio li input[type=radio],
.main-block .gform_wrapper ul.gfield_radio li input[type=radio] {
	width: 100% !important;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 0;
	margin: 0 .25em 0 .5em;
	vertical-align: baseline;
	appearance: none;
	border: none;
	cursor: pointer;
	transition: all .25s ease-in-out;

	&:checked,
	&:hover {
		background-color: var(--PrimaryOne);
		border-color: var(--PrimaryOne);

		&~label {
			display: inline-block;
			color: var(--White-Copy) !important;
			position: relative;
			z-index: 8888;
			font-size: 16px;
			padding: 0;
			margin: 0;
		}
	}

	&~label {
		display: inline-block;
		color: var(--PrimaryOne);
		position: relative;
		z-index: 8888;
		font-size: 16px;
		padding: 0;
		margin: 0;
	}

	.LV_valid_field {
		border: none;
	}
}

input[type="checkbox"] {
	width: 32px !important;
	height: 32px !important;
	border: 1px solid #000;
	border-radius: 4px;
	margin: 0 .25em 0 .5em;
	vertical-align: baseline;
	appearance: none;
	cursor: pointer;

	&:checked {
		background-color: var(--PrimaryOne);
	}

	&+label {
		display: inline-block;
		color: var(--Black-Copy) !important;
		padding: 0 0 0 4px !important;
		font-family: Avenir Book, sans-serif;
		font-size: responsive 12px 16px;
		font-range: 420px 1400px;
		text-transform: none;
		width: calc(100% - 40px) !important;
	}
}

select {
	font-family: var(--BodyCopy);
	border: 2px solid var(--NeutralOne);
	padding: .5em;

	&:focus {
		outline: none;
	}

	&.is-activated {
		border-color: green;
	}
}

textarea {
	font-family: var(--BodyCopy);
	border: none;
	border-bottom: .125rem solid #434343;
	padding: .5em;
	width: 100%;

	&:focus {
		outline: none;
	}

	&.is-activated {
		&:valid {
			border-color: green;
		}

		&:invalid:not(:focus):not(:placeholder-shown) {
			border-color: red;
			background-image: url(../images/input_error.svg);
			background-repeat: no-repeat;
			background-position: right top 4px;
			background-size: 20px;
		}
	}
}

.gform_footer {
	display: flex;

	button {
		&:focus {
			background: #af8888 !important;
		}

		@media(--1024vp) {
			margin: 0 auto 8px;
			position: inherit;
			margin-bottom: inherit;
		}
	}
}

.home {
	#gform_2 {
		.gform_footer {
			button {
				position: absolute;
				margin-bottom: 30vh;
				bottom: 0;
				line-height: 2rem;

				&:focus {
					background: #af8888 !important;
				}

				@media(--1024vp) {
					margin: 0 auto 8px;
					position: inherit;
					margin-bottom: inherit;
				}
			}
		}
	}
}

/*-----------------------------------------
    GRAVITY FORM OVERRIDES
-----------------------------------------*/
.gform_wrapper ul.gform_fields li.gfield {
	padding-right: 0 !important;
}

.gform_wrapper ul.gfield_checkbox li input[type=checkbox],
.gform_wrapper ul.gfield_radio li input[type=radio] {
	margin: 0 !important;
}

.gform_wrapper ul.gfield_checkbox li input[type=checkbox]:checked+label,
.gform_wrapper ul.gfield_radio li input[type=radio]:checked+label {
	font-weight: inherit !important;
}

.gform_wrapper li.gfield.gfield_error {
	margin-right: 0 !important;
}

.validation_message {
	display: none !important;
}

.gform_wrapper li.gfield.gfield_error,
.gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
	background: transparent !important;
	border: none !important;
	padding: 0 !important;
}

.gform_wrapper li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.gform_wrapper li.gfield_error textarea {
	border: none !important;
	border-bottom: 2px solid red !important;
	background-image: url(../images/input_error.svg);
	background-repeat: no-repeat;
	background-position: right top 4px;
	background-size: 20px;
	margin-bottom: 0 !important;
}

.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container,
body .gform_wrapper .top_label div.ginput_container {
	margin-top: .25rem !important;
}

.gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label {
	margin-top: 0 !important;
}

.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=image]):not([type=file]) {
	line-height: 1 !important;
	min-height: 1rem !important;
}

.gform_footer {
	padding-bottom: 0 !important;
}

.LV_valid_field {
	border-bottom: 2px solid green !important;
}

.gform_wrapper .gfield_required {
	display: none;
}

.gform_wrapper .gform_wrapper ul.gfield_radio li,
.main-content-right .gform_wrapper ul.gfield_radio li,
.main-block .gform_wrapper ul.gfield_radio li {
	display: inline-flex;
	width: auto;
	margin-right: .75rem;
	text-align: center;
	border: .0625rem solid var(--Black-Copy);
	padding: 8px !important;
	border-radius: .3125rem;
	position: relative;
	cursor: pointer;
	min-width: 50px;
	min-height: 50px;
	justify-content: center;
	align-items: center;


	&:last-child {
		margin-right: 0;
	}

	input {
		.LV_valid_field {
			border: none;
		}
	}
}

.gform_wrapper ul.gfield_checkbox li,
.main-content-right .gform_wrapper ul.gfield_checkbox li,
.main-block .gform_wrapper ul.gfield_checkbox li {
	display: inline-block;
	width: 33.333%;

	@media(--1024vp) {
		width: 33.333%;
	}

	@media(--768vp) {
		width: 50%;
	}

	@media(--515vp) {
		width: 100%;
	}
}

#gform_wrapper_2,
#gform_wrapper_4 {
	width: 40vw;

	@media(--1024vp) {
		width: 80vw;
	}
}

.gform_wrapper ul.gfield_checkbox li input[type="checkbox"],
.main-content-right .gform_wrapper ul.gfield_checkbox li input[type="checkbox"],
.main-block .gform_wrapper ul.gfield_checkbox li input[type="checkbox"] {
	width: 32px !important;
	height: 32px !important;
	border: 1px solid #000;

	&:checked {
		background-color: var(--PrimaryOne);
	}
}

.ginput_container_checkbox .LV_valid_field {
	border: none !important;

	.LV_valid_field {
		border: none !important;
	}
}

/*-----------------------------------------
    Form Lightbox CSS
-----------------------------------------*/
#overlay {
	background: #000;
	background: rgba(0, 0, 0, 0.3);
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
	overflow-x: hidden;
	z-index: 999999;
}

.page-id-226,
.page-id-228 {
	#gform-notification {
		width: 50%;
		position: relative;
		top: 120px;
		height: 420px;
		margin: 0 auto;
		transform: none;

		@media(--1024vp) {
			width: 90vw;
		}

		@media(--515vp) {
			height: 500px;
		}
	}
}

.home {
	#gform-notification {
		height: 400px;
		width: 60%;
		top: 100px;
		position: relative;
		margin: 0 auto;
		transform: none;

		@media(--1024vp) {
			width: 72%;
		}

		@media(--768vp) {
			width: 90%;
			height: 460px;
		}
	}
}

#gform-notification {
	background: var(--White);
	height: auto;
	width: 50%;
	padding: 50px;
	text-align: center;
	z-index: 1001;
	box-shadow: 0px 0px 20px 0px var(--Black);
	position: relative;
	top: 0;
	margin: 2vh auto;
	transition: opacity 5s ease-in;
	animation: 1s ease-out 0s 1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	@media(--768vp) {
		width: 90vw;
		padding: 30px 20px;
	}

	h2 {
		text-align: left;
		color: var(--PrimaryOne);
		margin: 0;
		font-size: responsive 24px 32px;
		font-range: 420px 1400px;
	}

	p {
		text-align: left;
		color: var(--Black);
		margin: 0;
		font-family: var(--BodyCopy);
		font-size: responsive 16px 20px;
		font-range: 420px 1400px;
		font-weight: 300;
		line-height: 28px;

		&.green {
			color: #8eb03e;

			span {
				width: 100%;
				margin-bottom: 2vh;
				text-align: right;
			}
		}

		strong {
			font-weight: bold;
		}

		span {
			float: right;
			font-size: responsive 16px 26px;
			font-range: 420px 1400px;

			&.red {
				opacity: 0.5;
				color: var(--PrimaryOne);
			}
		}
	}
}

#gform-notification .button-x {
	margin: 0;
	position: absolute;
	top: 0;
	right: 0;
	background-color: transparent;
	background-image: url('../images/x-mark.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	padding: 10px;
	margin: 15px;
	cursor: pointer;
}

.gform_confirmation_wrapper {
	#overlay.remove {
		display: none;
	}
}

.gform_ajax_spinner {
	display: none !important;
}

body .gform_wrapper .top_label div.ginput_container.ginput_container_consent {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 24px !important;

	& input[type="checkbox"] {
		margin-top: 0;
	}

	& label.gfield_consent_label {
		width: calc(100% - 2rem - .75em) !important;
		cursor: pointer;
		line-height: 1;
	}
}