/*-----------------------------------------
    FONTS
-----------------------------------------*/
@font-face {
	font-family: 'Avenir Black';
	src: url('../fonts/Avenir-Black-03.ttf') format('truetype');
}

@font-face {
	font-family: 'Avenir Book';
	src: url('../fonts/Avenir-Book-01.ttf') format('truetype');
}

@font-face {
	font-family: 'Avenir Heavy';
	src: url('../fonts/Avenir-Heavy-05.ttf') format('truetype');
}

@font-face {
	font-family: 'Merriweather Italic';
	src: url('../fonts/Merriweather-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Merriweather Italic Light';
	src: url('../fonts/Merriweather-LightItalic.ttf') format('truetype');
}

/*-----------------------------------------
    HEADINGS
-----------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6,
.widget h1,
.widget h2,
.widget h3,
.widget h4,
.widget h5,
.widget h6 {
	font-family: var(--HeadCopy);
	margin: 1em 0 .35em 0;
}

h1,
.widget h1 {
	font-size: responsive 36px 72px;
	font-range: 420px 1400px;
}

h2,
.widget h2 {
	font-size: responsive 30px 48px;
	font-range: 420px 1400px;
}

h3,
.widget h3 {
	font-size: responsive 22px 32px;
	font-range: 420px 1400px;
}

h4,
.widget h4 {
	font-size: responsive 18px 35px;
	font-range: 420px 1400px;
}

h5,
.widget h5 {
	font-size: responsive 16px 30px;
	font-range: 420px 1400px;
}

h6,
.widget h6 {
	font-size: responsive 16px 25px;
	font-range: 420px 1400px;
}

/*-----------------------------------------
    SUBHEADINGS
-----------------------------------------*/
h1+h2 {
	font-family: var(--SubHeadCopy);
	font-size: responsive 20px 40px;
	font-range: 420px 1400px;
	margin-top: -.35em;
}

h2+h3 {
	font-family: var(--SubHeadCopy);
	font-size: responsive 16px 35px;
	font-range: 420px 1400px;
	margin-top: -.35em;
}

h3+h4 {
	font-family: var(--SubHeadCopy);
	font-size: responsive 16px 25px;
	font-range: 420px 1400px;
	margin-top: -.35em;
}

/*-----------------------------------------
    BODY COPY
-----------------------------------------*/
p {
	font-family: var(--BodyCopy);
	font-size: responsive 16px 16px;
	font-range: 420px 1400px;
	line-height: 32px;

	& a {
		font-size: inherit;
		font-weight: bold;
		color: #7e0000;
	}
}

ol,
ul {
	font-family: var(--BodyCopy);
	font-size: responsive 16px 16px;
	font-range: 420px 1400px;
	padding-left: 1rem;
}

li {
	font-family: var(--BodyCopy);
	line-height: 32px;
}

a {
	font-family: var(--BodyCopy);
	font-size: responsive 16px 16px;
	font-range: 420px 1400px;

	&:hover,
	&:focus,
	&:active {}
}

hr {
	height: 2px;
	margin: 16px 0;
	background: var(--NeutralTwo);
	border: none;
}

blockquote,
q {
	margin: 2rem auto;
	padding: 1px 1.5rem;
	border-left: 3px solid var(--NeutralTwo);
	font-family: var(--BodyCopy);
	width: 90%;
}