/*-----------------------------------------
    VARIABLES
-----------------------------------------*/
:root {
	--White: #ffffff;
	--Black: #000000;
	--PrimaryOne: #7E0000;
	--PrimaryTwo: #949D7F;
	--PrimaryThree: #10301C;
	--NeutralOne: #F2F3F6;
	--NeutralTwo: #ECEEF2;
	--White-Copy: #ffffff;
	--Black-Copy: #434343;
	--HeadCopy: 'Avenir Black', sans-serif;
	--SubHeadCopy: 'Avenir Black', sans-serif;
	--BodyCopy-Bold: 'Avenir Heavy', sans-serif;
	--BodyCopy: 'Avenir Book', sans-serif;
	--AltCopy: 'Merriweather Italic';
	--AltCopyLight: 'Merriweather Italic Light';
}

/*-----------------------------------------
    Media Queries
-----------------------------------------*/
@custom-media --515vp (width < 515px);
@custom-media --768vp (width < 768px);
@custom-media --1024vp (width < 1024px);
@custom-media --1200vp (width < 1200px);
@custom-media --1500vp (width < 1500px);
/*-------------------------------------------------------------------
    Mixins
-------------------------------------------------------------------*/

/*@add-mixin Flex;*/
@define-mixin Flex {
	display: flex;
	flex-wrap: wrap;
}

/*@add-mixin Parallax;*/
@define-mixin Parallax {
	background-size: cover;
	background-position: 50% 50%;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

/*-----------------------------------------
    UNVERSAL BOX-SIZING
-----------------------------------------*/
html {
	box-sizing: border-box;
	font-size: 16px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

div {
	@media(--1500vp) {
		box-sizing: inherit;
	}

	@media(--1200vp) {
		box-sizing: inherit;
	}

	@media(--1024vp) {
		box-sizing: inherit;
	}

	@media(--768vp) {
		box-sizing: inherit;
	}

	@media(--515vp) {
		box-sizing: inherit;
	}
}

/*-----------------------------------------
    ADMIN WP BAR
-----------------------------------------*/
body.admin-bar {
	margin-top: -32px;
}

#wpadminbar {
	opacity: .25;
	position: fixed !important;
	top: -32px !important;
	transition: all .25s ease-in-out;

	&::after {
		content: "";
		left: 0;
		top: 100%;
		right: 0;
		height: 10px;
		position: absolute;
	}

	&:hover,
	&:focus {
		opacity: 1;
		top: 0 !important;
	}
}

/*-----------------------------------------
    HELLO BAR
-----------------------------------------*/
body {
	& header.hello-active {
		top: 35px;
	}
}

.hello-bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999999;
	background-color: #10301c;
	text-align: center;
	padding: .5rem;

	& a {
		color: #fff;
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: underline;
		}

		@media (--768vp) {
			display: block;
			font-size: 14px;
		}

		&.button {
			display: inline-block;
			padding: 10px 30px;
			margin: 0 0 0 1rem;

			@media (--768vp) {
				margin: .5rem 0 0;
			}
		}
	}
}

/*-----------------------------------------
   WYSIWYG CLASSES
-----------------------------------------*/
.alignleft {
	float: left;
	margin: 8px 8px 8px 0;

	@media (--515vp) {
		float: none;
		margin: 10px auto;
		display: block;
	}
}

.alignright {
	float: right;
	margin: 8px 0 8px 8px;

	@media (--515vp) {
		float: none;
		margin: 10px auto;
		display: block;
	}
}

.aligncenter {
	margin: 0 auto;
	display: block;
}

/*-----------------------------------------
   CONTENT WRAPPER
-----------------------------------------*/
.default-contents {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	position: relative;
	overflow: hidden;

	&::before {
		content: "";
		background-image: url('../images/flowers.svg');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: top right;
		width: 40%;
		min-height: 170%;
		position: absolute;
		right: -80px;
		top: -250px;
		z-index: -1;

		@media(--768vp) {
			top: 0;
			width: 50%;
		}
	}

	& img,
	& svg {
		max-width: 100%;
		height: auto;
	}
}