.background-image-section{
  @add-mixin Parallax;
  @add-mixin Flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 100px 17%;
  color: var(--White-Copy);
  @media(--1024vp){
    padding: 25px 8%;
    background-attachment: inherit;
  }
  .content-wrap{
    width: 100%;
    h2{
      margin: 0;
			text-shadow: 2px 2px 4px color( var(--Black) alpha(50%) );
    }
    h3{
      margin-top: 0;
      margin-bottom: 30px;
    }
    .headline-contain{
      text-align: center;
    }
    .content{
      padding-top: 55px;
      @add-mixin Flex;
      @media(--768vp){
        padding-top: 20px;
      }
      .content-left{
        width: calc(50% - 25px);
        margin-right: 25px;
        @media(--1024vp){
          width: 100%;
          margin: 0 0 25px 0;
        }
				& p {
					letter-spacing: 1px;
				}
      }
      .content-right{
        width: 50%;
        @media(--1024vp){
          width: 100%;
        }
				& p {
					letter-spacing: 1px;
				}
      }
    }
    .button-contain{
      text-align: center;
      padding-top: 55px;
      @media(--768vp){
        padding-top: 20px;
      }
      .button{
        margin: 0;
      }
    }
  }
}