/*-----------------------------------------
   BANNER CSS
-----------------------------------------*/
section.banner {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 100px 2em;
	position: relative;

	&:before {
		content: '';
		background-image: url('../images/rose-1.svg');
		background-repeat: no-repeat;
		background-size: auto 30vh;
		background-position: 0 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 300px;
		height: 250px;
	}

	&>div {
		max-width: 900px;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;

		& h2 {
			margin: 0;
			color: var(--PrimaryOne);
		}

		& h3 {
			color: var(--PrimaryTwo);
			font-family: 'Merriweather Italic Light';
			font-size: 30px;
			line-height: 38px;
			margin: 1em 0;
			width: 100%;
		}

		& a.button {
			display: inline-flex;
			flex-wrap: wrap;
			align-items: center;
			height: 90px;
			margin: 0 1em 1em;

			& svg {
				width: 30px;
				height: 30px;
				margin-right: 1em;
			}
		}
	}
}