.blog {
	.main-header-section {
		padding: 18vh 25px;
		.content {
			.button {
				margin: 45px 0 0;
			}
		}
	}
	.post-categories {
		margin: 0;
		li {
			list-style-type: none;
			a {
			color: var(--White);
			font-family: var(--AltCopyLight);
			font-size: 20px;
			font-style: italic;
			letter-spacing: 0.44px;
			text-decoration: none;
			}
		}
	}
	.title-excerpt {
		p {
			margin: 10px 0 0;
			color: var(--White);
			font-family: var(--AltCopyLight);
			font-size: responsive 20px 30px; 
			font-range: 420px 1400px;
			letter-spacing: 0.66px;
		}
	}
}