.calculator-block {
	@add-mixin Flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 10vh 0;
	background: var(--PrimaryOne);
	color: var(--White);
	position: relative;
	min-height: 650px;
	&.minheight {
		min-height: unset;
	}
	h2 {
		width: 60vw;
		margin: 0 0 4vh;
		&.remove {
			display: none;
		}
		@media(--768vp){
			width: 90vw;
		}
	}
	h3 {
		width: 60vw;
		font-size: responsive 18px 24px; 
		font-range: 420px 1400px;
		letter-spacing: 0.0069em; 
		font-family: var(--AltCopyLight);
		font-weight: normal;
		&.remove {
			display: none;
		}
		@media(--768vp){
			width: 90vw;
		}
	}
	p {
		&.hidden {
			display: none;
			&.show {
				visibility: visible;
				display: block;
				width: 100%;
				font-size: responsive 18px 28px; 
				font-range: 420px 1400px;
			}
		}
	}
	.button {
		&.hidden {
			background: transparent;
			border: 2px solid var(--White);
			margin: 0 1vw;
			display: none;
			&:hover, &:focus, &.is-hover {
				background: var(--White);
				color: var(--PrimaryOne);
			}
			&.show {
				visibility: visible;
				display: inline-block;
			}
		}
	}
	.background-image {
		background-image: url(/wp-content/uploads/2017/11/01.svg);
    min-width: 170px;
    min-height: 110px;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 0;
    top: 310px;
		left: 20%;
		&.remove {
			display: none;
		}
		@media(--768vp){
			display: none;
		}
	}
	.background-image-2 {
		background-image: url(/wp-content/uploads/2017/11/02.svg);
    min-width: 200px;
    min-height: 110px;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 0;
		top: 485px;
		left: 20%;
		&.remove {
			display: none;
		}
		@media(--768vp){
			display: none;
		}
	}
	.gform_wrapper {
		@add-mixin Flex;
    width: 42vw;
    justify-content: center;
    padding: 0 2vw;
		@media(--1024vp){
			width: 60vw;
		}
		@media(--768vp){
			width: 90vw;
		}
		form {
			width: 100%;
			li {
				margin-top: 10vh !important;
				.gfield_label {
					color: var(--White) !important;
					text-transform: none !important;
					font-size: 18px !important;
				}
				input {
					width: 100% !important;
					border-bottom: 3px solid var(--White) !important;
					font-size: 20px !important;
					padding: 5px 4px 15px !important;
					color: var(--White);
					&::placeholder {
						color: var(--White);
						opacity: 0.7;
					}
				}
			}
			#field_3_4 {
				margin-top: 3vh !important;
				font-size: 24px;
				text-align: center;
			}
			#field_3_3, #field_3_2 {
				margin-top: 3vh !important;
			}
		}
		ul.gfield_radio li {
			display: inline-block;
			width: calc(25% - 13px);
			margin-right: 12px;
			margin-top: 0 !important;
			text-align: center;
			border: 1px solid var(--White);
			padding: 17px 0 !important;
			border-radius: 5px;
			position: relative;
			cursor: pointer;
			&.gchoice_3_11_0, &.gchoice_3_11_1, &.gchoice_3_12_0, &.gchoice_3_12_1 {
				width: calc(50% - 13px);
			}
			input[type="radio"] {
				width: 100% !important;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				border-radius: 0;
				margin: 0 .25em 0 .5em;
				vertical-align: baseline;
				appearance: none;
				border: none;
				cursor: pointer;
				transition: all .25s ease-in-out;
				border-bottom: none !important;
				&:checked, &:hover {
					background-color: var(--White);
					& ~ label {
						display: inline-block;
						color: var(--PrimaryOne) !important;
						position: relative;
						z-index: 8888;
						font-size: 16px;
						padding: 0;
					}
				}
				& ~ label {
					display: inline-block;
					color: var(--White) !important;
					position: relative;
					z-index: 8888;
					font-size: 16px;
					padding: 0;
				}
				.LV_valid_field{
					border: none;
				}
			}
		}
		.gform_footer {
			margin: 8vh 0 0;
			@add-mixin Flex;
			justify-content: center;
			button {
				background: transparent;
    		border: 2px solid var(--White);
				padding: 30px 70px;
			}
		}
	}
}