/*-----------------------------------------
   GALLERY PAGE CSS
-----------------------------------------*/
.page-id-221 {
	.default-contents {
		&::before {
			background-image: none;
		}
	}

	.gallery-block-outer {
		width: 100%;
		margin: 0 auto;
		overflow: hidden;

		.gallery-block {
			@add-mixin Flex;
			justify-content: flex-start;
			padding-bottom: 40vh;
			position: relative;
			width: calc(100% + 2vw);
			margin-left: -1vw;

			.background-image {
				background-image: url(../images/flower.svg);
				min-width: 400px;
				min-height: 240px;
				background-repeat: no-repeat;
				position: absolute;
				z-index: -1;
				top: unset !important;
				bottom: 0 !important;
				left: -50px !important;
				display: block !important;
			}
		}
	}
}

/*-----------------------------------------
   GALLERY CARD CSS
-----------------------------------------*/
.gallery-card {
	margin: 1vw;
	width: calc(25% - 2vw);
	height: 400px;
	max-height: 500px;
	position: relative;
	overflow: hidden;

	@media(--1500vp) {
		width: calc(33% - 2vw);
	}

	@media(--1024vp) {
		width: calc(50% - 2vw);
	}

	@media(--515vp) {
		width: calc(100% - 2vw);
	}

	&:hover .gallery-image {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}

	.gallery-image {
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		transition: all .5s linear;
	}

	.gallery-category {
		width: 45%;
		height: 40px;
		position: absolute;
		bottom: 25px;
		padding: 0 1vw;
		@add-mixin Flex;
		justify-content: flex-end;
		align-items: center;
		background: var(--PrimaryOne);

		@media(--515vp) {
			width: 50%;
		}

		p {
			font-size: 16px;
			font-weight: 600;
			text-align: right;
			text-transform: uppercase;
			margin: 0;
			letter-spacing: 2px;
			color: var(--White);

			@media(--515vp) {
				font-size: 14px;
			}
		}
	}

	.latest-trends {
		background: var(--PrimaryOne);
	}

	.spaces {
		background: var(--PrimaryTwo);
	}

	.hair {
		background: var(--NeutralTwo);

		p {
			color: var(--PrimaryOne);
		}
	}

	.massage {
		background: #f3e2e2;

		p {
			color: var(--PrimaryOne);
		}
	}

	.facials {
		background: #3e3e3e;
	}

	.nails {
		background: #df9595;
	}
}

/*-----------------------------------------
   LIGHTBOX
-----------------------------------------*/
.featherlight .featherlight-content {
	max-height: 80vh !important;
	max-width: 80vw !important;
}