.homepage-main-content{
  @add-mixin Flex;
  .headlines{
    h2{
      font-size: responsive 22px 32px; 
	    font-range: 420px 1400px;
      color: var(--PrimaryOne);
    }
    h3{
      font-size: responsive 16px 24px; 
	    font-range: 420px 1400px;
      font-family: var(--AltCopyLight);
      color: var(--PrimaryTwo);
    }
  }
  .main-content-left{
    padding: 50px 7% 40vh 7%;
		position: relative;
    background-color: var(--White);
    width: 50%;
    background-image: url('../images/rose-1.svg');
    background-repeat: no-repeat;
    background-size: auto 30vh;
    background-position: bottom left;
    @media(--1024vp){
      width: 100%;
      background-size: auto 20vh;
      padding: 50px 7% 20vh 7%;
    }
    .content{
      ul{
        list-style: none;
        padding: 50px 0 0 0;
        margin: 0;
				@media(--768vp){
          padding: 20px 0 0 0;
        }
        li{
          padding-left: 50px;
          position: relative;
          margin-bottom: 30px;
          font-size: responsive 16px 20px; 
	        font-range: 420px 1400px;
          @media(--1024vp){
            padding-left: 25px;
          }
					@media(--768vp){
						margin-bottom: 10px;
					}
          &::before{
            content: "";
            width: 16px;
            height: 16px;
            background-color: var(--PrimaryTwo);
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: 7px;
            bottom: 0;
            @media(--1024vp){
              width: 8px;
              height: 8px;
              top: 12px;
            }
          }
        }
      }
			.p-button {
				@media(--1024vp){
					text-align: center;
				}
				.button {
					position: absolute;
    			margin-bottom: 30vh;
    			bottom: 0;
					@media(--1024vp){
						position: inherit;
    				margin-bottom: inherit;
					}
				}
			}
    }
  }
  .main-content-right{
    padding: 50px 7% 40vh;
		position: relative;
    background-color: var(--NeutralOne);
    width: 50%;
    background-image: url('../images/rose-2.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top right;
		position: relative;
    @media(--1024vp){
      width: 100%;
      background-size: auto 30vh;
			padding: 50px 7%;
    }
		& #schedule-form {
			position: absolute;
			top: -75px;
		}
  }
}