.benefit-section{
  width: 100%;
  background-color: var(--PrimaryOne);
  padding: 25px 3.5% 80px 3.5%;
  @add-mixin Flex;
  @media(--768vp){
    padding: 25px 3.5%;
  }
  .benefits-wrapper{
    @add-mixin Flex;
    width: 100%;
    .benefit{
      width: 33.333%;
      @add-mixin Flex;
      justify-content: center;
      max-height: 395px;
      @media(--768vp){
        width: 100%;
        margin-bottom: 110px;
        max-height: inherit;
        &:nth-child(odd){
          .content-wrap{
            position: relative;
            justify-content: center;
            .background-image{
              position: absolute;
              left: 0;
            }
          }
        }
        &:nth-child(even){
          margin-bottom: 120px;
          .content-wrap{
            position: relative;
            justify-content: center;
            .background-image{
              position: absolute;
              right: 0;
							@media(--768vp){
								left: 0;
							}
            }
          }
        }
      }
      .background-image{
        min-width: 225px;
        min-height: 149px;
        background-repeat: no-repeat;
        position: relative;
        top: 12px;
        z-index: 0;
      }
      .content-wrap{
        @media(--768vp){
          width: 100%;
          @add-mixin Flex;
        }
        .content{
          position: relative;
          z-index: 1;
          top: -115px;
          color: var(--White-Copy);
          padding-left: 100px;
          @media(--1024vp){
            padding: 0;
          }
          @media(--768vp){
            top: 60px;
            width: 263px;
          }
          img{
            max-width: 100%;
            height: auto;
          }
          .headline{
            margin-bottom: 0;
          }
        }
      }
    }
  }
}