.contact-section {
	@add-mixin Flex;
	width: 100%;

	.contact-left {
		padding: 150px 100px;
		background-color: var(--NeutralTwo);
		width: 40%;
		order: 0;

		@media(--1200vp) {
			width: 50%;
		}

		@media(--768vp) {
			width: 100%;
			order: 1;
			padding: 40px 50px;
		}

		h3 {
			color: var(--PrimaryOne);
			margin: 0;
		}

		p {
			margin: 0;
			font-size: responsive 16px 20px;
			font-range: 420px 1400px;
		}

		.headline-contain {
			margin-bottom: 1rem;
		}

		.address-contain {
			margin-bottom: 1rem;

			& address {
				font-size: 20px;
				font-family: 'Avenir Book', sans-serif;
				line-height: 1.5;
				font-style: inherit;
			}
		}

		.phone-contain {
			a {
				color: var(--PrimaryOne);
				text-decoration: none;
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				font-size: 20px;

				svg {
					margin-right: 20px;
					width: 30px;
					height: 30px;
				}
			}
		}
	}

	.contact-right {
		width: 60%;
		min-height: 100%;
		order: 1;

		@media(--1200vp) {
			width: 50%;
		}

		@media(--768vp) {
			width: 100%;
			order: 0;
			min-height: 220px;
		}

		& .acf-map {
			width: 100%;
			height: 100%;
			border: #ccc solid 1px;

			& img {
				max-width: inherit !important;
			}
		}
	}
}