/*-----------------------------------------
   ICON LIST CSS
-----------------------------------------*/
section.icon-list {
	&>div {
		width: 60vw;
		margin: 0 auto;

		@media(--768vp) {
			width: 70vw;
		}

		@media(--515vp) {
			width: 80vw;
		}

		& h2 {
			color: #7E0000;
			font-size: 32px;
		}

		& p {
			font-size: 20px;
			margin-bottom: 2em;
		}

		& img {
			width: 50px;
			height: 50px;
			margin-right: 2em;
		}

		& ul {
			list-style: none;
			padding: 0;
			display: flex;
			flex-wrap: wrap;
			align-items: center;

			& li {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				width: 50%;
				font-size: 20px;
				margin-bottom: 2em;

				@media(--1024vp) {
					width: 100%;
				}
			}
		}
	}
}