.main-content-2 {
  @add-mixin Flex;
	justify-content: center;
	padding-bottom: 10vh;
	width: 100%;
  .half-content {
    padding: 0 5vw;
    width: 52%;
		@add-mixin Flex;
		justify-content: flex-start;
    align-items: center;
    @media (--1024vp) {
      width: 90vw;
			padding: 0;
    }
		h3 {
			font-size: responsive 20px 32px; 
			font-range: 420px 1400px;
			color: var(--PrimaryOne);
			margin-top: 30px;
		}
		p {
			font-size: responsive 16px 20px; 
			font-range: 420px 1400px;
		}
		ul{
			list-style: none;
			padding: 2vh 0 0;
			margin: 0;
			li{
				padding-left: 50px;
				position: relative;
				margin-bottom: 30px;
				font-size: responsive 16px 20px; 
				font-range: 420px 1400px;
				@media(--1024vp){
					padding-left: 25px;
				}
				@media(--768vp){
					margin-bottom: 20px;
				}
				&::before{
					content: "";
					width: 16px;
					height: 16px;
					background-color: var(--PrimaryTwo);
					border-radius: 50%;
					position: absolute;
					left: 0;
					top: 7px;
					bottom: 0;
					@media(--1024vp){
						width: 8px;
						height: 8px;
						top: 12px;
					}
				}
			}
		}
  }
  .half-image {
    padding: 0;
    width: 48%;
		background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    @media (--1024vp) {
      width: 90vw;
    	height: 50vh;
    }
		img {
			width: 100%;
		}
  }
	&:nth-child(odd) {
		.half-content {
			order: 1;
			@media (--1024vp) {
				order: 2;
			}
		}
		.half-image {
			order: 2;
			@media (--1024vp) {
				order: 1;
			}
		}
	}
	&:nth-child(even) {
		.half-content {
			order: 2;
		}
		.half-image {
			order: 1;
		}
	}
	&:last-child {
		padding-bottom: 0;
	}
}
.main-block {
	@add-mixin Flex;
	.headlines{
		width: 100%;
		justify-content: center;
		@add-mixin Flex;
		h2{
			font-size: responsive 22px 48px; 
			font-range: 420px 1400px;
			color: var(--PrimaryOne);
			margin: 6vh 0;
		}
	}
}