/*-------------------------------------------------------------------
    Homepage Header
-------------------------------------------------------------------*/

.main-header-homepage-section {
	@add-mixin Parallax;
	@add-mixin Flex;
	margin-top: 80px;
	width: 100%;
	justify-content: center;
	align-items: center;
	padding: 14vh 25px;
	position: relative;

	@media(--1024vp) {
		background-attachment: inherit;
		background-position: 70% 50%;
		min-height: 70vh;
	}

	.content {
		text-align: center;
		color: var(--White-Copy);

		.button {
			margin: 55px 0 0 0;

			&+.button {
				margin-left: 2em;

				@media(--768vp) {
					margin-left: 0;
				}
			}
		}

		h1 {
			margin: 0;
			text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, .5);
		}

		h3 {
			margin: 8px 0 0 0;
			font-size: responsive 22px 30px;
			font-range: 420px 1400px;
			letter-spacing: 0.0069em;
			color: var(--White-Copy);
			font-family: var(--AltCopyLight);
			font-weight: normal;
			text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, .5);
		}
	}
}

/*-------------------------------------------------------------------
    Normal Header
-------------------------------------------------------------------*/

.main-header-section {
	@add-mixin Parallax;
	@add-mixin Flex;
	margin-top: 80px;
	width: 100%;
	justify-content: center;
	align-items: center;
	padding: 18vh 25px;
	position: relative;

	@media(--1024vp) {
		background-attachment: inherit;
		background-position: 70% 50%;
	}

	.content {
		text-align: center;
		color: var(--White-Copy);

		.button {
			margin: 55px 0 0 0;
		}

		h1 {
			margin: 0;
			text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
		}

		h3 {
			margin: 8px 0 0 0;
			font-size: responsive 22px 30px;
			font-range: 420px 1400px;
			letter-spacing: 0.0069em;
			font-family: var(--AltCopyLight);
			font-weight: normal;
		}
	}
}

/*-------------------------------------------------------------------
    Small Header
-------------------------------------------------------------------*/

.main-header-small-section {
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	@add-mixin Flex;
	margin-top: 80px;
	width: 100%;
	justify-content: center;
	align-items: center;
	padding: 14vh 25px;
	position: relative;

	.content {
		text-align: center;
		color: var(--White-Copy);

		.button {
			margin: 55px 0 0 0;
		}

		h1 {
			margin: 0;
			text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
		}

		h2 {
			margin: 0;
			text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

			&.massage {
				color: var(--PrimaryOne);
			}
		}

		h3 {
			margin: 8px 0 0 0;
			font-size: responsive 22px 30px;
			font-range: 420px 1400px;
			letter-spacing: 0.0069em;
			font-family: var(--AltCopyLight);
			font-weight: normal;
		}
	}
}