/*-----------------------------------------
    NEXT STEPS USED FOR COMPLETION PAGES
		404 | Thank You | Successful Checkout
-----------------------------------------*/
.next-steps {
	display: flex;
	flex-wrap: wrap;
	width: 80vw;
	margin: 100px auto;

	@media (--1024vp) {
		width: 90vw;
	}

	&>.block {
		width: 47.5%;
		margin-top: 3vh;
		padding: 1rem;
		border: 3px solid var(--PrimaryThree);
		border-radius: 4px;

		&:first-child {
			margin-right: 2.5%;
		}

		&:last-child {
			margin-left: 2.5%;
		}

		@media (--768vp) {
			width: 100%;
			margin: 3vh 0 0 0 !important;
		}

		& h2 {
			font-size: responsive 18px 35px;
			font-range: 420px 1400px;
			max-width: 655px;
			margin-top: 0;
		}

		& a.button:last-child {
			margin-bottom: 0;
		}
	}
}