.phone-dropdown {
	display: none;
	width: 100%;
	height: 80px;
	background: var(--NeutralOne);
	position: fixed;
	top: 80px;

	@media(--768vp) {
		height: 150px;
	}

	& .phone-wrap {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		height: 100%;
		justify-content: center;
		align-items: center;

		& p {
			margin: 0;
			font-weight: 700;

			@media(--768vp) {
				width: 100px;
				padding-left: 2rem;
			}
		}

		& a {
			margin: 0 3em 0 .5em;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			color: #7e0000;
			text-decoration: none;

			@media(--768vp) {
				width: calc(100% - 100px - 2rem);
				margin: 0 auto 0 .5em;
			}

			&:hover,
			&:focus {
				text-decoration: underline;
			}
		}
	}
}