.search-dropdown{
	display: none;
	width: 100%;
	height: 80px;
	background: var(--NeutralOne);
	position: fixed;
	top: 80px;
	.search-wrap{
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		height: 100%;
		justify-content: center;
		align-items: center;
		.search-contain{
			width: 35%;
			form{
				border: none;
				input{
					width: 100%;
					font-size: 20px;
					border-color: var(--PrimaryOne);
					&::placeholder{
						color: var(--PrimaryOne); 
						font-size: 20px;
					}
				}
			}
		}
	}
}