/*-------------------------------------------------------------------
    SLIDER
-------------------------------------------------------------------*/
section.slider {
	padding: 0 4em 15vh;

	@media(--768vp) {
		padding: 0 2em 15vh;
	}

	@media(--515vp) {
		padding: 0 1em 10vh;
	}

	& .slide-wrap {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;

		& .slick-arrow {
			width: 0;
			height: 0;
			border-top: 15px solid transparent;
			border-bottom: 15px solid transparent;
			cursor: pointer;
			transition: all .25s linear;

			&:hover,
			&:focus {
				transform: scale(1.2);
			}

			&.prev {
				border-right: 15px solid var(--PrimaryTwo);
			}

			&.next {
				border-left: 15px solid var(--PrimaryTwo);
			}
		}

		& .slick-list {
			width: calc(100% - 70px);

			& .slick-slide {
				padding: 0 .5em;
			}
		}
	}
}