/*-----------------------------------------
   TESTIMONIALS CSS
-----------------------------------------*/
section.testimonials {
	margin: 4em 0;

	&.is-red {
		margin: 0;
		padding: 4em 0;
		background-color: var(--PrimaryOne);

		& hr {
			background-color: transparent;
			background-image: url('../images/5Stars.svg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			margin: 0 auto;
			height: 20px;
		}

 		& > div .testimonial-slider {
			margin-top: 2em;

			& svg.slick-arrow {
				fill: var(--White);
			}

			& .testimonial blockquote {
				& p {
					color: var(--White);
				}
				& cite {
					color: var(--White);

					& span {
						color: var(--White);
					}
				}
			}
		}
	}

	& > div {
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 2em;

		& hr {
			margin: 2em auto;
			width: 40%;
			height: 3px;
			background-color: var(--PrimaryTwo);
		}

		& .testimonial-slider {
			margin-top: 4em;
			position: relative;

			& svg.slick-arrow {
				width: 30px;
				height: 30px;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				cursor: pointer;
				z-index: 10;
				fill: var(--PrimaryOne);

				&:first-of-type {
					left: 0;
				}

				&:last-of-type {
					right: 0;
				}
			}

			& .testimonial {
				&.slick-active {
					& blockquote {
						& p {
							&:before {
								content: '';
								position: absolute;
								top: 0;
								left: -72px;
								width: 72px;
								height: 56px;
								background-image: url('../images/left-quote.svg');
								background-position: center;
								background-repeat: no-repeat;
								background-size: contain;
							}

							&:after {
								content: '';
								position: absolute;
								bottom: 0;
								right: -72px;
								width: 72px;
								height: 56px;
								background-image: url('../images/right-quote.svg');
								background-position: center;
								background-repeat: no-repeat;
								background-size: contain;
							}
						}
					}
				}

				& blockquote {
					border-left: none;
					margin: 0 auto;
					text-align: center;
					max-width: 840px;

					& p {
						margin-top: 0;
						position: relative;
					}

					& cite {
						font-family: 'Avenir Black', sans-serif;
						color: var(--PrimaryOne);
						font-size: 26px;
						font-style: normal;

						& span {
							display: block;
							font-family: 'Merriweather Italic', sans-serif;
							font-size: 18px;
							color: #df9595;
						}
					}
				}
			}
		}
	}
}